In [2]:
import pandas as pd

df_large = pd.read_csv(r'..\data\raw\Company DACH 15-100 MA Apollo 80k.csv')

df_large.head()

,Company,Company Name for Emails,Account Stage,# Employees,Industry,Website,Company Linkedin Url,Facebook Url,Twitter Url,Company Street,...,Number of Retail Locations,Apollo Account Id,SIC Codes,Short Description,Founded Year,Logo Url,Primary Intent Topic,Primary Intent Score,Secondary Intent Topic,Secondary Intent Score
0,Trafo Baden │ Congress. Hotels. Catering.,Trafo Baden │ Congress. Hotels. Catering,Cold,27.0,events services,http://www.trafobaden.ch,http://www.linkedin.com/company/trafo-baden---...,https://www.facebook.com/trafobaden,NaN,1 Brown Boveri Platz,...,NaN,678aad7fdf3a890001e6f63e,NaN,"Vorhang auf für Ihren Event. Laden Sie ein, sc...",2003.0,https://zenprospect-production.s3.amazonaws.co...,NaN,NaN,NaN,NaN
1,OTTO PARTNER ARCHITEKTEN AG,OTTO PARTNER ARCHITEKTEN AG,Cold,24.0,architecture & planning,http://www.ottopartner.ch,http://www.linkedin.com/company/ottopartnerarc...,NaN,NaN,30 Benzburweg,...,NaN,678aad81df3a890001e6f690,NaN,"Architektur - Planung und Bauleitung, Quartier...",1907.0,https://zenprospect-production.s3.amazonaws.co...,NaN,NaN,NaN,NaN
2,treuhand marugg + imsand,treuhand marugg + imsand,Cold,29.0,accounting,http://www.trmi.ch,http://www.linkedin.com/company/treuhand-marug...,NaN,NaN,1 Gliserallee,...,NaN,678aad81df3a890001e6f6c0,NaN,Treuhand und Immobilien mit Herz und Verstand....,NaN,https://zenprospect-production.s3.amazonaws.co...,NaN,NaN,NaN,NaN
3,SEELAND JOB AG,SEELAND JOB AG,Cold,23.0,staffing & recruiting,http://www.seelandjob.ch,http://www.linkedin.com/company/seeland-job,https://facebook.com/seelandjob,https://twitter.com/seelandjob,107a Aarbergstrasse,...,NaN,678aad81df3a890001e6f6c3,7380,WIR SIND IHR REGIONALER JOBPROFI. \nDie Firma...,2008.0,https://zenprospect-production.s3.amazonaws.co...,NaN,NaN,NaN,NaN
4,Burning Box SA,Burning Box SA,Cold,24.0,information technology & services,http://www.burningbox.ch,http://www.linkedin.com/company/burningboxsa,https://www.facebook.com/burningboxsa/,NaN,Route Ancienne Papeterie,...,NaN,678aad81df3a890001e6f6c7,NaN,We focus on our area of expertise: software de...,1996.0,https://zenprospect-production.s3.amazonaws.co...,NaN,NaN,NaN,NaN

In [3]:
df_large.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84896 entries, 0 to 84895
Data columns (total 34 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     84896 non-null  object
 1   Company Name for Emails     84891 non-null  object
 2   Account Stage               84896 non-null  object
 3   # Employees                 84889 non-null  float64
 4   Industry                    80271 non-null  object
 5   Website                     72855 non-null  object
 6   Company Linkedin Url        84707 non-null  object
 7   Facebook Url                31374 non-null  object
 8   Twitter Url                 14157 non-null  object
 9   Company Street              63852 non-null  object
 10  Company City                84006 non-null  object
 11  Company State               84348 non-null  object
 12  Company Country             84896 non-null  object
 13  Company Postal Code         68711 non-null  float64
 14  Company Address             84896 non-null  object
 15  Keywords                    47156 non-null  object
 16  Company Phone               57336 non-null  object
 17  SEO Description             46705 non-null  object
 18  Technologies                74607 non-null  object
 19  Total Funding               1946 non-null   float64
 20  Latest Funding              2387 non-null   object
 21  Latest Funding Amount       1823 non-null   float64
 22  Last Raised At              2387 non-null   object
 23  Annual Revenue              11322 non-null  float64
 24  Number of Retail Locations  172 non-null    float64
 25  Apollo Account Id           84896 non-null  object
 26  SIC Codes                   6038 non-null   object
 27  Short Description           71983 non-null  object
 28  Founded Year                60530 non-null  float64
 29  Logo Url                    84794 non-null  object
 30  Primary Intent Topic        0 non-null      float64
 31  Primary Intent Score        0 non-null      float64
 32  Secondary Intent Topic      0 non-null      float64
 33  Secondary Intent Score      0 non-null      float64
dtypes: float64(11), object(23)
memory usage: 22.0+ MB

In [4]:
df_large.describe(include='all')

,Company,Company Name for Emails,Account Stage,# Employees,Industry,Website,Company Linkedin Url,Facebook Url,Twitter Url,Company Street,...,Number of Retail Locations,Apollo Account Id,SIC Codes,Short Description,Founded Year,Logo Url,Primary Intent Topic,Primary Intent Score,Secondary Intent Topic,Secondary Intent Score
count,84896,84891,84896,84889.000000,80271,72855,84707,31374,14157,63852,...,172.000000,84896,6038,71983,60530.000000,84794,0.0,0.0,0.0,0.0
unique,83876,83510,1,NaN,145,72070,83938,30011,13702,47801,...,NaN,84896,233,71023,NaN,70877,NaN,NaN,NaN,NaN
top,Samina - Ich Schlafe Lebensenergie,NEXUS,Cold,NaN,information technology & services,http://www.remarq.ch,http://www.linkedin.com/company/augmensys,https://www.facebook.com/profile.php,https://twitter.com/privacy,1 Industriestrasse,...,NaN,679e693e5e8e940001b79e3e,7380,.,NaN,https://zenprospect-production.s3.amazonaws.co...,NaN,NaN,NaN,NaN
freq,4,4,84896,NaN,10272,3,3,570,59,45,...,NaN,1,1068,53,NaN,10428,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,38.952750,NaN,NaN,NaN,NaN,NaN,NaN,...,1.901163,NaN,NaN,NaN,1982.239072,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,28.425444,NaN,NaN,NaN,NaN,NaN,NaN,...,2.968962,NaN,NaN,NaN,43.849522,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,NaN,NaN,NaN,1502.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,19.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,NaN,NaN,NaN,1970.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,28.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,NaN,NaN,NaN,1997.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,49.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,NaN,NaN,NaN,2011.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,420.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,32.000000,NaN,NaN,NaN,2024.000000,NaN,NaN,NaN,NaN,NaN

In [5]:
df_large.columns.tolist()

['Company',
 'Company Name for Emails',
 'Account Stage',
 '# Employees',
 'Industry',
 'Website',
 'Company Linkedin Url',
 'Facebook Url',
 'Twitter Url',
 'Company Street',
 'Company City',
 'Company State',
 'Company Country',
 'Company Postal Code',
 'Company Address',
 'Keywords',
 'Company Phone',
 'SEO Description',
 'Technologies',
 'Total Funding',
 'Latest Funding',
 'Latest Funding Amount',
 'Last Raised At',
 'Annual Revenue',
 'Number of Retail Locations',
 'Apollo Account Id',
 'SIC Codes',
 'Short Description',
 'Founded Year',
 'Logo Url',
 'Primary Intent Topic',
 'Primary Intent Score',
 'Secondary Intent Topic',
 'Secondary Intent Score']

In [6]:
columns_to_drop = ['Logo Url', 'Company Name for Emails', 'Account Stage', 'Number of Retail Locations', 'Apollo Account Id', 'Primary Intent Topic', 'Primary Intent Score', 'Secondary Intent Topic', 'Secondary Intent Score']
df_large.drop(columns=columns_to_drop, inplace=True)

In [7]:
# Display duplicated Website rows 
duplicated_websites = df_large[df_large.duplicated(subset='Website', keep=False)]
print(duplicated_websites)

                                      Company  # Employees  \
2                    treuhand marugg + imsand         29.0
23                         Personal Search AG         19.0
39                                   Feinheit         21.0
44                            Sonnmatt Luzern         27.0
61                           CSDK Architectes         22.0
...                                       ...          ...
84887  Städt. Kliniken Neuss Lukaskrankenhaus         40.0
84888     Zwilag Zwischenlager Würenlingen AG         55.0
84889                                    SSDF         60.0
84890  Volkshochschule Der Hansestadt Rostock         35.0
84892      Ubbo-Emmius-Klinik - Klinik Norden         38.0

                         Industry                       Website  \
2                      accounting            http://www.trmi.ch
23          staffing & recruiting  http://www.personalsearch.ch
39        marketing & advertising        http://www.feinheit.ch
44     health, wellness & fitness        http://www.sonnmatt.ch
61        architecture & planning            http://www.csdk.ch
...                           ...                           ...
84887            medical practice                           NaN
84888   government administration                           NaN
84889                      design                           NaN
84890   government administration                           NaN
84892            medical practice                           NaN

                                    Company Linkedin Url  \
2      http://www.linkedin.com/company/treuhand-marug...
23     http://www.linkedin.com/company/personal-searc...
39              http://www.linkedin.com/company/feinheit
44        http://www.linkedin.com/company/sonnmattluzern
61      http://www.linkedin.com/company/csdk-architectes
...                                                  ...
84887  http://www.linkedin.com/company/st%c3%a4dt.-kl...
84888  http://www.linkedin.com/company/zwilag-zwische...
84889               http://www.linkedin.com/company/ssdf
84890  http://www.linkedin.com/company/volkshochschul...
84892  http://www.linkedin.com/company/ubbo-emmius-kl...

                                    Facebook Url  \
2                                            NaN
23                                           NaN
39                 https://facebook.com/FEINHEIT
44          https://facebook.com/Luzern.Sonnmatt
61     https://www.facebook.com/csdkarchitectes/
...                                          ...
84887                                        NaN
84888                                        NaN
84889                                        NaN
84890                                        NaN
84892                                        NaN

                           Twitter Url                Company Street  \
2                                  NaN                 1 Gliserallee
23                                 NaN  12 Innere Margarethenstrasse
39     http://www.twitter.com/feinheit              54 Fabrikstrasse
44                                 NaN              Hemschlenstrasse
61                                 NaN                           NaN
...                                ...                           ...
84887                              NaN                           NaN
84888                              NaN                             1
84889                              NaN                           NaN
84890                              NaN            20A Am Kabutzenhof
84892                              NaN                           NaN

       Company City           Company State  ...  \
2              Brig                  Valais  ...
23            Basel             Basel-Stadt  ...
39          Zuerich                 Zuerich  ...
44          Lucerne                 Lucerne  ...
61           Geneva                  Geneva  ...
...             ...                     ...  ...
84887         Neuss  North Rhine-Westphalia  ...
84888  Wuerenlingen                  Aargau  ...
84889       Cologne  North Rhine-Westphalia  ...
84890       Rostock  Mecklenburg-Vorpommern  ...
84892        Norden            Lower Saxony  ...

                                         SEO Description  \
2                                                    NaN
23     Personal Search AG ist Ihr zuverlässiger Perso...
39     Seit 2006 sind wir eine Marketing- und Kommuni...
44     Welcome to the Sonnmatt Luzern! Relax, holiday...
61     Le bureau d'architecture CSDK Architectes, bas...
...                                                  ...
84887                                                NaN
84888                                                NaN
84889                                                NaN
84890                                                NaN
84892                                                NaN

                                            Technologies Total Funding  \
2      Outlook, Microsoft Office 365, Google Analytic...           NaN
23     Outlook, Google Font API, Nginx, Google Maps, ...           NaN
39     DNSimple, SendInBlue, Gmail, Google Apps, Mail...           NaN
44     Sendgrid, Outlook, Microsoft Office 365, Vimeo...           NaN
61     Outlook, Microsoft Office 365, Google Maps (No...           NaN
...                                                  ...           ...
84887                                                NaN           NaN
84888                                                NaN           NaN
84889                                                NaN           NaN
84890                                                NaN           NaN
84892                                                NaN           NaN

      Latest Funding Latest Funding Amount Last Raised At Annual Revenue  \
2                NaN                   NaN            NaN            NaN
23               NaN                   NaN            NaN            NaN
39               NaN                   NaN            NaN      2771000.0
44               NaN                   NaN            NaN            NaN
61               NaN                   NaN            NaN            NaN
...              ...                   ...            ...            ...
84887            NaN                   NaN            NaN            NaN
84888            NaN                   NaN            NaN            NaN
84889            NaN                   NaN            NaN            NaN
84890            NaN                   NaN            NaN            NaN
84892            NaN                   NaN            NaN            NaN

       SIC Codes                                  Short Description  \
2            NaN  Treuhand und Immobilien mit Herz und Verstand....
23           NaN  Personal Search AG is a company based out of I...
39          7380  Bei Feinheit treffen sich Weltverbesserer, Spi...
44          7011  Gesund werden, gesund bleiben, gelassen altern...
61           NaN  CSDK Architectes is a Swiss architecture firm ...
...          ...                                                ...
84887        NaN                                                NaN
84888        NaN                                                NaN
84889        NaN                                                NaN
84890        NaN                                                NaN
84892        NaN                                                NaN

       Founded Year
2               NaN
23           2005.0
39           2006.0
44           1910.0
61           2015.0
...             ...
84887           NaN
84888           NaN
84889           NaN
84890           NaN
84892           NaN

[13596 rows x 25 columns]

In [8]:
# display not unique number of Website values
not_unique_websites = df_large['Website'].value_counts()
print(not_unique_websites[not_unique_websites > 1])

Website
http://www.remarq.ch                  3
http://www.hr-andrist.ch              3
http://www.teleactis.ch               3
http://www.felss.com                  3
http://www.hoermann-automotive.com    3
                                     ..
http://www.trasteel.com               2
http://www.globefuelcell.com          2
http://www.algorithm-factory.com      2
http://www.iqpc.de                    2
http://www.shmh.de                    2
Name: count, Length: 770, dtype: int64

In [9]:
import pandas as pd
import numpy as np
import re

# Assume 'df_large' is your DataFrame before this new 'Website' deduplication.
original_count = len(df_large)
print(f"Count before custom 'Website' (with 'company_phone' logic) deduplication: {original_count}")

# --- Step 1: Separate and preserve rows with initially empty/NaN 'Website' ---
empty_website_mask = df_large['Website'].isna() | (df_large['Website'] == '')
df_kept_empty_website_rows = df_large[empty_website_mask]
df_to_process_non_empty_websites = df_large[~empty_website_mask]

# --- Step 2: Process rows with non-empty 'Website' values ---
# Identify non-empty websites that are already unique (appear only once)
website_counts = df_to_process_non_empty_websites['Website'].value_counts()
unique_website_strings = website_counts[website_counts == 1].index.tolist()
df_kept_unique_non_empty_website_rows = df_to_process_non_empty_websites[
    df_to_process_non_empty_websites['Website'].isin(unique_website_strings)
]

# Isolate groups of rows where the non-empty 'Website' is duplicated
duplicated_website_strings_for_grouping = website_counts[website_counts > 1].index.tolist()
df_groups_to_apply_custom_logic = df_to_process_non_empty_websites[
    df_to_process_non_empty_websites['Website'].isin(duplicated_website_strings_for_grouping)
]

# -----------------------------------------------------------------------------
# Deduplicate company records by Website and Company Phone.
# 
# 1. Preserves rows with empty/NaN Website.
# 2. Keeps unique Website rows as-is.
# 3. For duplicated Websites, deduplicates by normalized Company Phone using
#    resolve_website_duplicates_by_phone_revised_DEBUG.
# 4. Combines all results into df_final_result.
# 5. Prints debug info for a specific problematic Website.
# -----------------------------------------------------------------------------


# --- Start: Function with enhanced debugging ---
def resolve_website_duplicates_by_phone_revised_DEBUG(group_df):
    """
    Deduplicate a group of rows sharing the same Website by normalized Company Phone.

    - If the group has only one row, returns it as-is.
    - Normalizes 'Company Phone' values by removing problematic whitespace, zero-width spaces,
      and surrounding quotes, and collapsing all whitespace.
    - If all normalized phones are empty, keeps only the first row.
    - Otherwise, keeps the first occurrence of each unique normalized phone.
    - Prints detailed debug output for the Website 'http://www.fit4future-foundation.ch'.

    Args:
        group_df (pd.DataFrame): DataFrame group with the same Website.

    Returns:
        pd.DataFrame: Deduplicated group DataFrame.
    """
    DEBUG_WEBSITE_URL = 'http://www.fit4future-foundation.ch'
    # Check if the current group is the one we want to debug
    # It's safer to check if 'Website' column exists and group_df is not empty
    is_debug_group = False
    if not group_df.empty and 'Website' in group_df.columns and group_df['Website'].iloc[0] == DEBUG_WEBSITE_URL:
        is_debug_group = True

    if is_debug_group:
        print(f"\n--- DEBUG: Processing group for Website: {DEBUG_WEBSITE_URL} ---")
        print(f"Input group_df (indices: {group_df.index.tolist()}):")
        print(group_df[['Company', 'Website', 'Company Phone']].to_string())

    if len(group_df) == 1:
        if is_debug_group: print("DEBUG: Group has only 1 row, returning as is.")
        return group_df

    def robust_normalize_phone(val):
        original_val_for_debug = val # For logging
        if pd.isna(val):
            return ""
        s = str(val)
        
        # Layer 1: Explicitly replace known problematic Unicode whitespace
        s_intermediate = s.replace('\u00A0', ' ') # Non-breaking space
        s_intermediate = s_intermediate.replace('\u200B', '') # Zero-width space
        # Add others if suspected (e.g., \u200C for ZWNJ, \u200D for ZWJ, \uFEFF for BOM)
        
        # Layer 2: Consolidate all remaining whitespace types (std/unicode) to a single space
        s_intermediate = re.sub(r'\s+', ' ', s_intermediate)
        
        # Layer 3: Strip leading/trailing whitespace
        s_normalized = s_intermediate.strip()
        
        # Layer 4: Optional - Strip surrounding quotes if they are part of the data string
        # and not part of the actual phone number content.
        # This is speculative but can be a source of "hidden" differences.
        if len(s_normalized) >= 2 and s_normalized.startswith("'") and s_normalized.endswith("'"):
            s_normalized = s_normalized[1:-1].strip() # Strip quotes and re-strip whitespace
        if len(s_normalized) >= 2 and s_normalized.startswith('"') and s_normalized.endswith('"'):
            s_normalized = s_normalized[1:-1].strip() # Strip quotes and re-strip whitespace
            
        if is_debug_group: # Only print if there was a change or it's the debug group
             if s != s_normalized or original_val_for_debug != s_normalized : # helps to see effect
                print(f"DEBUG Normalization Detail: Original='{original_val_for_debug}' (repr: {repr(original_val_for_debug)}) ==> Normalized='{s_normalized}' (repr: {repr(s_normalized)})")
        return s_normalized

    # Apply the robust normalization to the 'Company Phone' column
    phones_series = group_df['Company Phone'].apply(robust_normalize_phone)
    
    if is_debug_group:
        print("\nDEBUG: 'phones_series' (normalized phone numbers) for this group:")
        for idx, (original_phone, normalized_phone) in enumerate(zip(group_df['Company Phone'], phones_series)):
            # Using group_df.index[idx] to get the original index
            print(f"  Row index {group_df.index[idx]}: Original='{original_phone}' (repr: {repr(original_phone)}) ==> Normalized='{normalized_phone}' (repr: {repr(normalized_phone)})")

    has_non_empty_phone_mask = (phones_series != '')
    df_with_non_empty_phones = group_df[has_non_empty_phone_mask]
    
    if df_with_non_empty_phones.empty:
        if is_debug_group: print("DEBUG: No non-empty phones after normalization for this group. Keeping head(1) of original group.")
        return group_df.head(1)
    else:
        if is_debug_group:
            print("\nDEBUG: Rows in 'df_with_non_empty_phones' (original phone numbers from group_df):")
            print(df_with_non_empty_phones[['Company', 'Website', 'Company Phone']].to_string())

        df_to_dedupe = df_with_non_empty_phones.copy()
        # Assign the relevant slice of normalized phones
        # Ensure correct alignment: phones_series was created from group_df,
        # so phones_series[has_non_empty_phone_mask] aligns with df_with_non_empty_phones
        df_to_dedupe['__normalized_phone__'] = phones_series[has_non_empty_phone_mask]
        
        if is_debug_group:
            print("\nDEBUG: 'df_to_dedupe' (with __normalized_phone__) BEFORE drop_duplicates:")
            print(df_to_dedupe[['Company', 'Website', 'Company Phone', '__normalized_phone__']].to_string())
            print("\nDEBUG: Details of '__normalized_phone__' column in 'df_to_dedupe':")
            for r_idx, phone_val in df_to_dedupe['__normalized_phone__'].items(): # Use .items() to get index too
                print(f"  Row index {r_idx}: Value='{phone_val}', Type: {type(phone_val)}, repr: {repr(phone_val)}")
                print(f"    Character codes: {[ord(c) for c in str(phone_val)]}")

        # The critical deduplication step
        kept_rows_with_phone = df_to_dedupe.drop_duplicates(subset=['__normalized_phone__'], keep='first')
        
        if is_debug_group:
            print("\nDEBUG: 'kept_rows_with_phone' AFTER drop_duplicates:")
            print(kept_rows_with_phone[['Company', 'Website', 'Company Phone', '__normalized_phone__']].to_string())
        
        return kept_rows_with_phone.drop(columns=['__normalized_phone__'])
# --- End: Function with enhanced debugging ---


print("\n--- Checking df_groups_to_apply_custom_logic for the problematic website ---")
problematic_website_in_grouping_df = df_groups_to_apply_custom_logic[
    df_groups_to_apply_custom_logic['Website'] == 'http://www.fit4future-foundation.ch'
]
if not problematic_website_in_grouping_df.empty:
    print(f"Found {len(problematic_website_in_grouping_df)} rows for 'http://www.fit4future-foundation.ch' in df_groups_to_apply_custom_logic:")
    print(problematic_website_in_grouping_df[['Company', 'Website', 'Company Phone']].to_string())
    
    # Also check the raw website strings in df_groups_to_apply_custom_logic
    # to ensure there are no hidden characters preventing the match in the debug function.
    print("\nUnique website strings in df_groups_to_apply_custom_logic containing 'fit4future':")
    fit4future_websites = df_groups_to_apply_custom_logic[
        df_groups_to_apply_custom_logic['Website'].astype(str).str.contains('fit4future', case=False, na=False)
    ]['Website'].unique()
    for site in fit4future_websites:
        print(f"  - '{site}' (repr: {repr(site)})")
else:
    print("'http://www.fit4future-foundation.ch' NOT FOUND in df_groups_to_apply_custom_logic.")
    print(f"Is 'http://www.fit4future-foundation.ch' present in df_to_process_non_empty_websites at all?")
    if 'df_to_process_non_empty_websites' in locals():
        temp_check = df_to_process_non_empty_websites[
            df_to_process_non_empty_websites['Website'] == 'http://www.fit4future-foundation.ch'
        ]
        print(f"  Count in df_to_process_non_empty_websites: {len(temp_check)}")
        if not temp_check.empty:
             print(temp_check[['Company', 'Website', 'Company Phone']].to_string())


processed_group_dfs = [] # To store results from manual processing
processed_websites = set()

if not df_groups_to_apply_custom_logic.empty:
    print("\n--- MANUALLY ITERATING GROUPS for apply() ---")
    for website_name, group_data in df_groups_to_apply_custom_logic.groupby('Website'):
        processed_websites.add(website_name)
        if website_name == 'http://www.fit4future-foundation.ch':
            print(f"\nMANUAL: Found problematic group: {website_name}")
            print(f"MANUAL: Calling resolve_website_duplicates_by_phone_revised_DEBUG for '{website_name}'")
            # Call the debug function directly
            result_df = resolve_website_duplicates_by_phone_revised_DEBUG(group_data.copy()) # Pass a copy
            print(f"MANUAL: Result from resolve_website_duplicates_by_phone_revised_DEBUG for '{website_name}':")
            if result_df is not None and not result_df.empty:
                print(result_df[['Company', 'Website', 'Company Phone']].to_string())
            elif result_df is not None and result_df.empty:
                print("MANUAL: Function returned an EMPTY DataFrame.")
            else:
                print("MANUAL: Function returned None.")
            processed_group_dfs.append(result_df)
        else:
            # For other groups, call it normally (or the debug version if you want to see all)
            # Using the non-debug version here to reduce log noise unless needed
            # result_df = resolve_website_duplicates_by_phone_revised(group_data.copy())
            # For consistency in debugging, let's keep using the DEBUG one for now.
            result_df = resolve_website_duplicates_by_phone_revised_DEBUG(group_data.copy())
            processed_group_dfs.append(result_df)

    if processed_group_dfs:
        df_resolved_website_duplicates = pd.concat(processed_group_dfs)
    else:
        df_resolved_website_duplicates = pd.DataFrame(columns=df_large.columns) # Or df_groups_to_apply_custom_logic.columns

    print(f"\nMANUAL: Number of unique websites processed by groupby: {len(processed_websites)}")
    if 'http://www.fit4future-foundation.ch' in processed_websites:
        print("MANUAL: 'http://www.fit4future-foundation.ch' WAS processed in the loop.")
    else:
        print("MANUAL: 'http://www.fit4future-foundation.ch' WAS NOT processed in the loop. VERY STRANGE.")

else:
    df_resolved_website_duplicates = pd.DataFrame(columns=df_large.columns) # Or df_groups_to_apply_custom_logic.columns

# --- Step 3: Combine all processed parts ---
df_final_result_website_dedup = pd.concat([
    df_kept_empty_website_rows,
    df_kept_unique_non_empty_website_rows,
    df_resolved_website_duplicates
]).sort_index() # Restore original DataFrame order

# You can assign this result back to df_large if needed for subsequent steps
# df_large = df_final_result_website_dedup # Example

final_count = len(df_final_result_website_dedup)
print(f"Count after custom 'Website' (with 'company_phone' logic) deduplication: {final_count}")
# print(f"Number of rows dropped by this step: {original_count - final_count}") # if original_count is defined

# --- Then, inspect the final problematic rows again ---
print("\n--- Displaying 'Company Phone' for specific rows (AFTER DEBUG RUN) from df_final_result_website_dedup ---")
specific_rows_after_debug = df_final_result_website_dedup[df_final_result_website_dedup['Website'] == 'http://www.fit4future-foundation.ch']
if not specific_rows_after_debug.empty:
    print(specific_rows_after_debug[['Company', 'Website', 'Company Phone']].to_string())
else:
    print(f"No rows found for website http://www.fit4future-foundation.ch in the final result.")

Count before custom 'Website' (with 'company_phone' logic) deduplication: 84896

--- Checking df_groups_to_apply_custom_logic for the problematic website ---
Found 2 rows for 'http://www.fit4future-foundation.ch' in df_groups_to_apply_custom_logic:
                                  Company                              Website      Company Phone
39916  «fit4future»@fit4future foundation  http://www.fit4future-foundation.ch  '+41 41 766 63 83
39948  «fit4future»@fit4future foundation  http://www.fit4future-foundation.ch  '+41 41 766 63 83

Unique website strings in df_groups_to_apply_custom_logic containing 'fit4future':
  - 'http://www.fit4future-foundation.ch' (repr: 'http://www.fit4future-foundation.ch')

--- MANUALLY ITERATING GROUPS for apply() ---

MANUAL: Found problematic group: http://www.fit4future-foundation.ch
MANUAL: Calling resolve_website_duplicates_by_phone_revised_DEBUG for 'http://www.fit4future-foundation.ch'

--- DEBUG: Processing group for Website: http://www.fit4future-foundation.ch ---
Input group_df (indices: [39916, 39948]):
                                  Company                              Website      Company Phone
39916  «fit4future»@fit4future foundation  http://www.fit4future-foundation.ch  '+41 41 766 63 83
39948  «fit4future»@fit4future foundation  http://www.fit4future-foundation.ch  '+41 41 766 63 83

DEBUG: 'phones_series' (normalized phone numbers) for this group:
  Row index 39916: Original=''+41 41 766 63 83' (repr: "'+41 41 766 63 83") ==> Normalized=''+41 41 766 63 83' (repr: "'+41 41 766 63 83")
  Row index 39948: Original=''+41 41 766 63 83' (repr: "'+41 41 766 63 83") ==> Normalized=''+41 41 766 63 83' (repr: "'+41 41 766 63 83")

DEBUG: Rows in 'df_with_non_empty_phones' (original phone numbers from group_df):
                                  Company                              Website      Company Phone
39916  «fit4future»@fit4future foundation  http://www.fit4future-foundation.ch  '+41 41 766 63 83
39948  «fit4future»@fit4future foundation  http://www.fit4future-foundation.ch  '+41 41 766 63 83

DEBUG: 'df_to_dedupe' (with __normalized_phone__) BEFORE drop_duplicates:
                                  Company                              Website      Company Phone __normalized_phone__
39916  «fit4future»@fit4future foundation  http://www.fit4future-foundation.ch  '+41 41 766 63 83    '+41 41 766 63 83
39948  «fit4future»@fit4future foundation  http://www.fit4future-foundation.ch  '+41 41 766 63 83    '+41 41 766 63 83

DEBUG: Details of '__normalized_phone__' column in 'df_to_dedupe':
  Row index 39916: Value=''+41 41 766 63 83', Type: <class 'str'>, repr: "'+41 41 766 63 83"
    Character codes: [39, 43, 52, 49, 32, 52, 49, 32, 55, 54, 54, 32, 54, 51, 32, 56, 51]
  Row index 39948: Value=''+41 41 766 63 83', Type: <class 'str'>, repr: "'+41 41 766 63 83"
    Character codes: [39, 43, 52, 49, 32, 52, 49, 32, 55, 54, 54, 32, 54, 51, 32, 56, 51]

DEBUG: 'kept_rows_with_phone' AFTER drop_duplicates:
                                  Company                              Website      Company Phone __normalized_phone__
39916  «fit4future»@fit4future foundation  http://www.fit4future-foundation.ch  '+41 41 766 63 83    '+41 41 766 63 83
MANUAL: Result from resolve_website_duplicates_by_phone_revised_DEBUG for 'http://www.fit4future-foundation.ch':
                                  Company                              Website      Company Phone
39916  «fit4future»@fit4future foundation  http://www.fit4future-foundation.ch  '+41 41 766 63 83

MANUAL: Number of unique websites processed by groupby: 770
MANUAL: 'http://www.fit4future-foundation.ch' WAS processed in the loop.
Count after custom 'Website' (with 'company_phone' logic) deduplication: 84121

--- Displaying 'Company Phone' for specific rows (AFTER DEBUG RUN) from df_final_result_website_dedup ---
                                  Company                              Website      Company Phone
39916  «fit4future»@fit4future foundation  http://www.fit4future-foundation.ch  '+41 41 766 63 83

In [10]:
import pandas as pd
import numpy as np
"""
Inspects the deduplicated DataFrame for companies that appear more than once with different Website values.

This block:
- Runs after Website deduplication but before Company deduplication.
- Identifies all companies (non-empty names) that have duplicate entries.
- Filters for companies where the same name is associated with multiple unique Website values.
- Prints out these cases for manual review, showing the Company and Website columns.
- Helps to spot potential data quality issues before further deduplication steps.

Intended for exploratory data analysis and quality control.
"""


# Assume 'df_final_result_website_dedup' is your DataFrame AFTER selective 'Website' deduplication
# and BEFORE you apply selective 'Company' deduplication.

print("\n--- Inspecting 'Company' Duplicates with Varying 'Website' Values ---")
print("(This inspection is performed on the DataFrame after 'Website' deduplication but before 'Company' deduplication)\n")

# 1. Consider only rows with non-empty 'Company' names for this inspection
non_empty_company_mask_for_inspection = df_final_result_website_dedup['Company'].notna() & (df_final_result_website_dedup['Company'] != '')
df_to_inspect = df_final_result_website_dedup[non_empty_company_mask_for_inspection]

# 2. Identify all rows that are part of a 'Company' duplicate group
#    'keep=False' ensures all occurrences of such duplicates are included
all_company_duplicate_occurrences = df_to_inspect[
    df_to_inspect.duplicated(subset=['Company'], keep=False)
]

if not all_company_duplicate_occurrences.empty:
    # 3. Group by 'Company' and filter for those groups where the number of unique 'Website' values is > 1
    #    This means for a given 'Company' name, there are multiple different 'Website' entries.
    company_groups_with_different_websites = all_company_duplicate_occurrences.groupby('Company').filter(
        lambda group: group['Website'].nunique() > 1
    )

    if not company_groups_with_different_websites.empty:
        print(f"Found {company_groups_with_different_websites['Company'].nunique()} distinct companies that are duplicated and have different 'Website' values.")
        print("Displaying these groups (showing 'Company' and 'Website', sorted for clarity):")
        
        # Select relevant columns and sort for better readability
        # You can adjust the number of rows displayed using .head(N) if the output is too long
        columns_to_display = ['Company', 'Website'] # Add other columns if they provide useful context
        print(company_groups_with_different_websites[columns_to_display].sort_values(by=['Company', 'Website']))
        
    else:
        print("No 'Company' duplicate groups were found to have different 'Website' values.")
else:
    print("No non-empty 'Company' duplicate groups were found in the DataFrame to inspect.")

# --- End of Inspection Logic ---

--- Inspecting 'Company' Duplicates with Varying 'Website' Values ---
(This inspection is performed on the DataFrame after 'Website' deduplication but before 'Company' deduplication)

Found 100 distinct companies that are duplicated and have different 'Website' values.
Displaying these groups (showing 'Company' and 'Website', sorted for clarity):
                                  Company                              Website
9320                             360 Grad               http://www.360-grad.at
56759                            360 Grad                http://www.360-net.de
61160                           ACS Group                 http://www.acs-e.com
44792                           ACS Group               http://www.acsgroup.de
51226                                 AIM               http://www.agile-im.de
...                                   ...                                  ...
37960                          up to data               http://www.uptodata.de
19636  «fit4future»@fit4future foundation           http://www.fit-4-future.ch
39916  «fit4future»@fit4future foundation  http://www.fit4future-foundation.ch
79696                         فرنسا اليوم           http://www.francealyom.com
37784                         فرنسا اليوم           http://www.king-shoot.live

[204 rows x 2 columns]

In [11]:
# Display Company Phone Value of specific rows that match Website = http://www.fit4future-foundation.ch
specific_rows = df_final_result_website_dedup[df_final_result_website_dedup['Website'] == 'http://www.fit4future-foundation.ch']
print("\n--- Displaying 'Company Phone' for specific rows with Website = http://www.fit4future-foundation.ch ---")
print(specific_rows[['Company', 'Website', 'Company Phone']])

--- Displaying 'Company Phone' for specific rows with Website = http://www.fit4future-foundation.ch ---
                                  Company  \
39916  «fit4future»@fit4future foundation

                                   Website      Company Phone
39916  http://www.fit4future-foundation.ch  '+41 41 766 63 83

In [12]:
import pandas as pd
import numpy as np
import re # For robust string cleaning
"""
Deduplicates company records based on normalized company names and website presence.

This block:
- Normalizes company names to ensure consistent comparison (removes extra whitespace, handles NaN).
- Separates rows with empty normalized company names for preservation.
- For non-empty company names:
    - Keeps unique company names as-is.
    - For duplicated company names, keeps all rows with a website if any exist; otherwise, keeps only the first occurrence.
- Combines all results into a final deduplicated DataFrame.
- Reports the number of rows dropped and analyzes which dropped rows had empty or non-empty websites.
- Intended to be run after website deduplication and before further processing.

This logic helps ensure that each company is represented only once, with preference for records that include a website.
"""

df_current_processing = df_final_result_website_dedup.copy()

# ...existing code...
# Assume 'df_current_processing' is your DataFrame after the previous 'Website' deduplication.
print(f"Count before 'Company' deduplication (with website preference): {len(df_current_processing)}")
original_count_for_company_step = len(df_current_processing)



# --- Step 1: Define a robust Company Name Normalization function ---
def normalize_company_name(name):
    if pd.isna(name):
        return "" # Represent NaN or None as an empty string for consistent handling
    s = str(name)
    s = re.sub(r'\s+', ' ', s) # Replace multiple whitespace characters (including newlines, tabs) with a single space
    s = s.strip() # Remove leading/trailing whitespace
    return s

# --- Step 2: Apply normalization and separate rows with empty normalized Company names ---
# Create a temporary column for cleaned company names
df_current_processing['__cleaned_company__'] = df_current_processing['Company'].apply(normalize_company_name)

empty_company_mask = df_current_processing['__cleaned_company__'] == ''
df_kept_empty_normalized_company = df_current_processing[empty_company_mask].copy() # Keep these rows
df_to_process_non_empty_company = df_current_processing[~empty_company_mask].copy() # Process these

# We can drop the temporary column from df_kept_empty_normalized_company now
if '__cleaned_company__' in df_kept_empty_normalized_company.columns:
    df_kept_empty_normalized_company.drop(columns=['__cleaned_company__'], inplace=True)

# --- Step 3: Process rows with non-empty normalized 'Company' names ---
df_kept_unique_companies = pd.DataFrame(columns=df_current_processing.columns).drop(columns=['__cleaned_company__'], errors='ignore')
df_resolved_company_duplicates = pd.DataFrame(columns=df_current_processing.columns).drop(columns=['__cleaned_company__'], errors='ignore')


if not df_to_process_non_empty_company.empty:
    company_counts = df_to_process_non_empty_company['__cleaned_company__'].value_counts()

    # 3a: Identify and keep companies that are already unique after normalization
    unique_company_names = company_counts[company_counts == 1].index
    df_kept_unique_companies_intermediate = df_to_process_non_empty_company[
        df_to_process_non_empty_company['__cleaned_company__'].isin(unique_company_names)
    ]
    # Drop the temp column before assigning
    if '__cleaned_company__' in df_kept_unique_companies_intermediate.columns:
         df_kept_unique_companies = df_kept_unique_companies_intermediate.drop(columns=['__cleaned_company__'])
    else:
         df_kept_unique_companies = df_kept_unique_companies_intermediate


    # 3b: Isolate groups of rows where the normalized 'Company' name is duplicated
    duplicated_company_names = company_counts[company_counts > 1].index
    df_groups_to_resolve = df_to_process_non_empty_company[
        df_to_process_non_empty_company['__cleaned_company__'].isin(duplicated_company_names)
    ]

    def resolve_company_duplicates_by_website(group_df):
        # Normalize 'Website' for checking emptiness (NaN, empty string, or string with only spaces)
        has_website_mask = group_df['Website'].notna() & (group_df['Website'].astype(str).str.strip() != '')
        
        if has_website_mask.any():
            # If any row in this company group has a website, keep all rows that have a website.
            # Rows for this company that don't have a website will be dropped.
            return group_df[has_website_mask]
        else:
            # If no row in this company group has a website, keep the first occurrence.
            return group_df.head(1)

    if not df_groups_to_resolve.empty:
        df_resolved_company_duplicates_intermediate = df_groups_to_resolve.groupby(
            '__cleaned_company__', group_keys=False
        ).apply(resolve_company_duplicates_by_website, include_groups=False) # Added include_groups=False

        # Drop the temp column before assigning
        if '__cleaned_company__' in df_resolved_company_duplicates_intermediate.columns:
            df_resolved_company_duplicates = df_resolved_company_duplicates_intermediate.drop(columns=['__cleaned_company__'])
        else:
            df_resolved_company_duplicates = df_resolved_company_duplicates_intermediate
    else:
        # Ensure df_resolved_company_duplicates has the correct columns (without __cleaned_company__)
        # if df_groups_to_resolve was empty
        cols = [col for col in df_to_process_non_empty_company.columns if col != '__cleaned_company__']
        df_resolved_company_duplicates = pd.DataFrame(columns=cols)


# --- Step 4: Combine all parts ---
df_processed_step2_company_dedup = pd.concat([
    df_kept_empty_normalized_company,
    df_kept_unique_companies,
    df_resolved_company_duplicates
]).sort_index() # Restore original DataFrame order

# Clean up __cleaned_company__ from df_current_processing if it's no longer needed globally
if '__cleaned_company__' in df_current_processing.columns:
    df_current_processing.drop(columns=['__cleaned_company__'], inplace=True)


# --- Step 5: Output results ---
# You can assign this result back to df_current_processing if needed for subsequent steps
# df_current_processing = df_processed_step2_company_dedup

final_count = len(df_processed_step2_company_dedup)
rows_dropped_new_logic = original_count_for_company_step - final_count

print(f"Count after 'Company' deduplication (with website preference): {final_count}")
print(f"Number of rows dropped by this 'Company' deduplication step: {rows_dropped_new_logic}")

# For a more direct comparison with your previous "121" observation:
# This part is for analysis, not part of the core deduplication.
# We need to re-evaluate what was dropped.
# Let's identify rows in the original df_to_process_non_empty_company (before new dedup)
# that were dropped by the new logic.

# Create a set of indices from the original df_to_process_non_empty_company
if not df_to_process_non_empty_company.empty:
    original_indices_processed = set(df_to_process_non_empty_company.index)
    
    # Create a set of indices from the rows kept after processing non-empty companies
    kept_indices_from_processing = set()
    if not df_kept_unique_companies.empty:
        kept_indices_from_processing.update(df_kept_unique_companies.index)
    if not df_resolved_company_duplicates.empty:
        kept_indices_from_processing.update(df_resolved_company_duplicates.index)
        
    dropped_indices_in_processing = original_indices_processed - kept_indices_from_processing
    
    if dropped_indices_in_processing:
        df_actually_dropped_non_empty_company = df_to_process_non_empty_company.loc[list(dropped_indices_in_processing)]
        
        count_dropped_with_empty_website = (
            df_actually_dropped_non_empty_company['Website'].isna() | 
            (df_actually_dropped_non_empty_company['Website'].astype(str).str.strip() == '')
        ).sum()
        print(f"Of the {len(df_actually_dropped_non_empty_company)} rows dropped from non-empty company groups by the new logic:")
        print(f"  - {count_dropped_with_empty_website} had an empty Website.")
        print(f"  - {len(df_actually_dropped_non_empty_company) - count_dropped_with_empty_website} had a non-empty Website (these would be from groups where all had empty websites, and these were not the 'first').")
    else:
        print("No rows were dropped from the non-empty company groups by the new logic.")
else:
    print("No non-empty company rows to process.")

Count before 'Company' deduplication (with website preference): 84121
Count after 'Company' deduplication (with website preference): 83884
Number of rows dropped by this 'Company' deduplication step: 237
Of the 237 rows dropped from non-empty company groups by the new logic:
  - 237 had an empty Website.
  - 0 had a non-empty Website (these would be from groups where all had empty websites, and these were not the 'first').

In [13]:
import numpy as np
"""
Converts the '# Employees' column to a numeric format for analysis.

This block:
- Prints the original data type and a sample of unique values from the '# Employees' column.
- Converts the '# Employees' column to a numeric column 'employees_numeric', coercing errors to NaN.
- Handles cases where values are not numbers (e.g., text or ranges like '10-50').
- Prints the number of missing values after conversion and descriptive statistics for the new column.
- Provides commented-out example code for handling ranges if needed.

Intended for preparing employee count data for further analysis or binning.
"""
 

print("Original '# Employees' data type:", df_processed_step2_company_dedup['# Employees'].dtype)
print("Unique values sample:", df_processed_step2_company_dedup['# Employees'].unique()[:20]) # See what kind of values exist

# Convert to numeric, coercing errors to NaN (Not a Number)
# This handles cases where some entries might be text like "Not specified" or ranges "10-50"
df_processed_step2_company_dedup['employees_numeric'] = pd.to_numeric(df_processed_step2_company_dedup['# Employees'], errors='coerce')
# For ranges (e.g., "10-50"), you might need more sophisticated parsing.
# For now, to_numeric with 'coerce' is a good start. If you have many ranges,
# you might need a custom function to extract the lower or average value.
# Example for a specific string if '10-50' was common and became NaN:
# def parse_employee_range(value):
#     if isinstance(value, str) and '-' in value:
#         try:
#             low, high = map(int, value.split('-'))
#             return (low + high) / 2 # Or just low
#         except ValueError:
#             return np.nan
#     return value
# df_processed_step2_company_dedup['# Employees'] = df_processed_step2_company_dedup['# Employees'].apply(parse_employee_range)
# df_processed_step2_company_dedup['employees_numeric'] = pd.to_numeric(df_processed_step2_company_dedup['# Employees'], errors='coerce')
print("Missing values in employees_numeric after coercion:", df_processed_step2_company_dedup['employees_numeric'].isnull().sum())
print("Describe employees_numeric:\n", df_processed_step2_company_dedup['employees_numeric'].describe())

Original '# Employees' data type: float64
Unique values sample: [27. 24. 29. 23. 18. 20. 19. 15. 16. 26. 28. 22. 17. 25. 21. 30. 14. 31.
 33. 13.]
Missing values in employees_numeric after coercion: 6
Describe employees_numeric:
 count    83878.000000
mean        38.895563
std         28.397692
min          1.000000
25%         19.000000
50%         28.000000
75%         49.000000
max        420.000000
Name: employees_numeric, dtype: float64

In [14]:
import pandas as pd
import numpy as np

def categorize_company_size(df_processed_step2_company_dedup):
    """
    Categorizes companies into size bins based on the 'employees_numeric' column.

    - Defines bins and labels for company size categories.
    - Uses pd.cut to assign each company a size category.
    - Adds 'Unknown/Not Specified' as a category for missing or unclassified values.
    - Fills missing values in the 'Company_Size_Category' column with 'Unknown/Not Specified'.
    - Prints the value counts for each category.

    Args:
        df_processed_step2_company_dedup (pd.DataFrame): DataFrame containing an 'employees_numeric' column.

    Returns:
        pd.DataFrame: DataFrame with a new 'Company_Size_Category' column.
    """
    # Define bins and labels
    employee_bins = [0, 10, 50, 250, 1000, np.inf]
    employee_labels = ['1-10', '11-50', '51-250', '251-1000', '1001+']

    # Create the 'Company_Size_Category' column using pd.cut
    df_processed_step2_company_dedup['Company_Size_Category'] = pd.cut(
        df_processed_step2_company_dedup['employees_numeric'],
        bins=employee_bins,
        labels=employee_labels,
        right=True,
        include_lowest=True
    )

    # Ensure 'Unknown/Not Specified' is a category and fill missing values
    if isinstance(df_processed_step2_company_dedup['Company_Size_Category'].dtype, pd.CategoricalDtype):
        if 'Unknown/Not Specified' not in df_processed_step2_company_dedup['Company_Size_Category'].cat.categories:
            df_processed_step2_company_dedup['Company_Size_Category'] = df_processed_step2_company_dedup['Company_Size_Category'].cat.add_categories(['Unknown/Not Specified'])
    df_processed_step2_company_dedup['Company_Size_Category'] = df_processed_step2_company_dedup['Company_Size_Category'].fillna('Unknown/Not Specified')

    print("Value counts for Company_Size_Category:\n", df_processed_step2_company_dedup['Company_Size_Category'].value_counts(dropna=False))
    return df_processed_step2_company_dedup

# Usage:
df_processed_step3_categorization = categorize_company_size(df_processed_step2_company_dedup.copy())

Value counts for Company_Size_Category:
 Company_Size_Category
11-50                    65100
51-250                   18748
1-10                        27
Unknown/Not Specified        6
251-1000                     3
1001+                        0
Name: count, dtype: int64

In [15]:
import pandas as pd
import numpy as np
import re # For more advanced string cleaning

print("\n--- Step 5c: Inspecting and Cleaning 'Annual Revenue' ---")

# Ensure 'Annual Revenue' column exists
if 'Annual Revenue' not in df_processed_step3_categorization.columns:
    print("'Annual Revenue' column not found. Skipping this step.")
else:
    print("Original 'Annual Revenue' data type:", df_processed_step3_categorization['Annual Revenue'].dtype)
    print("Sample unique 'Annual Revenue' values (first 50):")
    # Print unique values, converting to string to handle mixed types and NaNs gracefully for display
    unique_revenues = df_processed_step3_categorization['Annual Revenue'].astype(str).unique()
    print(unique_revenues[:50])
    print(f"Number of missing 'Annual Revenue' values: {df_processed_step3_categorization['Annual Revenue'].isnull().sum()}")

    # --- Robust Revenue Parsing Function ---
    def parse_revenue(value):
        if pd.isna(value):
            return np.nan
        
        s = str(value).lower().strip()
        
        # Remove currency symbols and commas
        s = re.sub(r'[$,€£¥]', '', s)
        s = s.replace(',', '')

        # Handle 'k' for thousands, 'm' for millions, 'b' for billions
        multiplier = 1
        if 'b' in s or 'billion' in s:
            multiplier = 1_000_000_000
            s = re.sub(r'[b\s]*illion', '', s, flags=re.IGNORECASE) # Remove 'billion' and 'b'
            s = s.replace('b', '') # Ensure standalone 'b' is also removed
        elif 'm' in s or 'million' in s:
            multiplier = 1_000_000
            s = re.sub(r'[m\s]*illion', '', s, flags=re.IGNORECASE) # Remove 'million' and 'm'
            s = s.replace('m', '') # Ensure standalone 'm' is also removed
        elif 'k' in s or 'thousand' in s:
            multiplier = 1_000
            s = re.sub(r'[k\s]*thousand', '', s, flags=re.IGNORECASE) # Remove 'thousand' and 'k'
            s = s.replace('k', '') # Ensure standalone 'k' is also removed

        # Handle ranges (e.g., "10-20", "5 to 10") - take the lower bound or average
        range_match = re.match(r'([\d\.]+)\s*(?:to|-)\s*([\d\.]+)', s)
        if range_match:
            try:
                low = float(range_match.group(1))
                # high = float(range_match.group(2)) # If you want to use the high or average
                s = str(low) # Using the lower bound
            except ValueError:
                return np.nan # If parts of range are not numbers

        # Try to convert to float
        try:
            numeric_val = float(s)
            return numeric_val * multiplier
        except ValueError:
            return np.nan # Could not convert to number

    # Apply the parsing function
    df_processed_step3_categorization['revenue_numeric'] = df_processed_step3_categorization['Annual Revenue'].apply(parse_revenue)

    print(f"\nMissing values in 'revenue_numeric' after parsing: {df_processed_step3_categorization['revenue_numeric'].isnull().sum()}")
    print("Descriptive statistics for 'revenue_numeric':")
    print(df_processed_step3_categorization['revenue_numeric'].describe())

--- Step 5c: Inspecting and Cleaning 'Annual Revenue' ---
Original 'Annual Revenue' data type: float64
Sample unique 'Annual Revenue' values (first 50):
['nan' '6329000.0' '3569000.0' '28982000.0' '234000.0' '479000.0'
 '2771000.0' '3172000.0' '201000.0' '349000.0' '25000000.0' '164000.0'
 '5867000.0' '6800000.0' '75000000.0' '2500000.0' '28144000.0'
 '28200000.0' '1700000.0' '9859000.0' '300000.0' '5000000.0' '398000.0'
 '10000000.0' '2000000.0' '1000000.0' '211000.0' '2600000.0' '546000.0'
 '17500000.0' '13832000.0' '7750000.0' '1500000.0' '1200000.0' '4504000.0'
 '13896000.0' '1773000.0' '14721000.0' '4893000.0' '5920000.0' '7497000.0'
 '35000000.0' '379000.0' '45000000.0' '750000000.0' '26526000.0'
 '5275000.0' '5937000.0' '148000.0' '26113000.0']
Number of missing 'Annual Revenue' values: 72720

Missing values in 'revenue_numeric' after parsing: 72720
Descriptive statistics for 'revenue_numeric':
count    1.116400e+04
mean     1.994372e+08
std      7.414902e+09
min      1.000000e+03
25%      2.200000e+06
50%      6.100000e+06
75%      1.829700e+07
max      5.452210e+11
Name: revenue_numeric, dtype: float64

In [16]:
print(f"Number of unique industries in dataset: {df_processed_step3_categorization['Industry'].nunique()}")
unique_industries_large = df_processed_step3_categorization['Industry'].astype(str).unique()
print(unique_industries_large[:])

Number of unique industries in dataset: 145
['events services' 'architecture & planning' 'accounting'
 'staffing & recruiting' 'information technology & services'
 'nonprofit organization management' 'food & beverages' 'insurance'
 'marketing & advertising' 'hospitality' 'political organization'
 'electrical/electronic manufacturing' 'mining & metals'
 'health, wellness & fitness' 'transportation/trucking/railroad'
 'entertainment' 'logistics & supply chain' 'machinery'
 'building materials' 'recreational facilities & services'
 'financial services' 'biotechnology' 'performing arts' 'food production'
 'government administration' 'luxury goods & jewelry' 'construction'
 'plastics' 'design' 'legal services' 'public relations & communications'
 'media production' 'business supplies & equipment'
 'environmental services' 'international trade & development'
 'education management' 'human resources' 'civil engineering' 'retail'
 'leisure, travel & tourism' 'automotive' 'wholesale' 'medical practice'
 'telecommunications' 'market research' 'wine & spirits'
 'professional training & coaching' 'furniture' 'nan'
 'facilities services' 'utilities' 'consumer services' 'research'
 'higher education' 'computer & network security' 'real estate'
 'management consulting' 'pharmaceuticals' 'veterinary'
 'computer hardware' 'apparel & fashion' 'oil & energy'
 'civic & social organization' 'writing & editing' 'medical devices'
 'renewables & environment' 'mechanical or industrial engineering'
 'information services' 'semiconductors' 'import & export' 'restaurants'
 'international affairs' 'computer networking' 'sports' 'publishing'
 'translation & localization' 'cosmetics' 'aviation & aerospace'
 'printing' 'e-learning' 'law practice' 'nanotechnology' 'sporting goods'
 'museums & institutions' 'online media' 'chemicals' 'public policy'
 'hospital & health care' 'primary/secondary education' 'music'
 'security & investigations' 'textiles' 'individual & family services'
 'banking' 'airlines/aviation' 'religious institutions'
 'venture capital & private equity' 'mental health care'
 'railroad manufacture' 'graphic design' 'farming' 'alternative medicine'
 'packaging & containers' 'glass, ceramics & concrete' 'fine art'
 'package/freight delivery' 'investment management' 'defense & space'
 'paper & forest products' 'warehousing' 'computer software' 'maritime'
 'think tanks' 'law enforcement' 'computer games' 'photography' 'internet'
 'shipbuilding' 'public safety' 'executive office' 'consumer goods'
 'industrial automation' 'investment banking'
 'alternative dispute resolution' 'dairy' 'commercial real estate'
 'government relations' 'outsourcing/offshoring' 'gambling & casinos'
 'libraries' 'capital markets' 'broadcast media' 'military' 'animation'
 'philanthropy' 'arts & crafts' 'consumer electronics' 'fund-raising'
 'wireless' 'tobacco' 'program development' 'fishery' 'legislative office'
 'newspapers' 'ranching' 'agriculture']

In [17]:
print("\n--- Step 6: Process Industry and SIC Codes ---")
print("\n--- Step 6a: Inspecting the Existing 'Industry' Column ---")

if 'Industry' not in df_processed_step3_categorization.columns:
    print("'Industry' column not found. Skipping Step 6.")
else:
    print(f"Number of unique industries in dataset: {df_processed_step3_categorization['Industry'].nunique()}")
    print("Sample unique industries (first 50):")
    # Print unique values, converting to string to handle mixed types and NaNs gracefully for display
    unique_industries_large = df_processed_step3_categorization['Industry'].astype(str).unique()
    print(unique_industries_large[:50]) # Shows a sample
    # For a full list to help with mapping, you might want to print all:
    # print("\nFull list of unique industries:")
    # for industry in sorted(list(unique_industries_large)): # Sorted for easier review
    #     print(f"'{industry}',")

    print("\nValue counts for 'Industry' (Top 30):")
    print(df_processed_step3_categorization['Industry'].value_counts(dropna=False).nlargest(30))

    print("\n--- Step 6b: Create the Mapping Dictionary (Manual Task) ---")
    # This is where you'll MANUALLY build your mapping dictionary based on the output from 6a
    # and your standardized categories from the 70 partner companies.
    # Your standardized categories (examples, ensure these match your actual list):
    # "Business Consulting / Management Consulting", "Healthcare Technology / HealthTech",
    # "Cybersecurity Services", "HR / Recruitment", "Software Development / SaaS",
    # "Digital Marketing Agency / Web Development", "Logistics Technology / Supply Chain Tech", etc.

    industry_mapping_large_to_standard = {
    'events services': 'Business Consulting / Management Consulting', # Or 'Service-Oriented (General B2B)'
    'architecture & planning': 'Business Consulting / Management Consulting', # Or a new "Architecture / Planning" if needed
    'accounting': 'Financial Services / Consulting', # (Accounting Sub-sector)
    'staffing & recruiting': 'HR / Recruitment',
    'information technology & services': 'IT Services / Managed Services',
    'nonprofit organization management': 'Non-Profits / Associations (B2B)',
    'food & beverages': 'Food & Beverage',
    'insurance': 'Financial Services / Consulting', # (Insurance Sub-sector)
    'marketing & advertising': 'Digital Marketing Agency / Web Development',
    'hospitality': 'Retail Technology / Hospitality Technology', # Or a broader "Hospitality Sector (B2B)"
    'political organization': 'Non-Profits / Associations (B2B)', # Or 'Other'
    'electrical/electronic manufacturing': 'Manufacturing Sector (B2B)',
    'mining & metals': 'Manufacturing Sector (B2B)', # Or 'Other' if not a fit
    'health, wellness & fitness': 'Healthcare Services', # Or 'Wellness Technology / Alternative Health Products'
    'transportation/trucking/railroad': 'Logistics Technology / Supply Chain Tech',
    'entertainment': 'Digital Media / Creative Tech', # Or 'Service-Oriented (General B2B)'
    'logistics & supply chain': 'Logistics Technology / Supply Chain Tech',
    'machinery': 'Manufacturing Sector (B2B)',
    'building materials': 'Wholesale / Distribution', # Or 'Manufacturing Sector (B2B)'
    'recreational facilities & services': 'Retail Technology / Hospitality Technology', # Or 'Service-Oriented'
    'financial services': 'Financial Services / Consulting',
    'biotechnology': 'Healthcare Technology / HealthTech', # Or specific 'Biotechnology' if needed
    'performing arts': 'Digital Media / Creative Tech', # Or 'Service-Oriented'
    'food production': 'Food & Beverage',
    'government administration': 'Public Sector / Government (B2B)',
    'luxury goods & jewelry': 'Retail Sector (B2B)',
    'construction': 'Manufacturing Sector (B2B)', # Or "Real Estate / Construction" if you add it
    'plastics': 'Manufacturing Sector (B2B)',
    'design': 'Digital Media / Creative Tech', # Or 'Business Consulting / Management Consulting'
    'legal services': 'Legal Technology', # Or 'Service-Oriented (Legal)'
    'public relations & communications': 'Digital Marketing Agency / Web Development',
    'media production': 'Digital Media / Creative Tech',
    'business supplies & equipment': 'Wholesale / Distribution',
    'environmental services': 'Green Technology / Sustainability Services',
    'international trade & development': 'Business Consulting / Management Consulting', # Or 'Wholesale / Distribution'
    'education management': 'EdTech / E-Learning', # Or 'Education Sector (B2B)'
    'human resources': 'HR / Recruitment',
    'civil engineering': 'Business Consulting / Management Consulting', # Or "Real Estate / Construction"
    'retail': 'Retail Sector (B2B)',
    'leisure, travel & tourism': 'Retail Technology / Hospitality Technology', # Or 'Service-Oriented'
    'automotive': 'Manufacturing Sector (B2B)', # (Automotive Sub-sector)
    'wholesale': 'Wholesale / Distribution',
    'medical practice': 'Healthcare Services',
    'telecommunications': 'Telecommunications Services / Infrastructure',
    'market research': 'Business Consulting / Management Consulting', # Or 'Digital Marketing Agency'
    'wine & spirits': 'Food & Beverage', # Or 'Wholesale / Distribution' / 'Retail'
    'professional training & coaching': 'Business Consulting / Management Consulting', # Or 'EdTech / E-Learning'
    'furniture': 'Retail Sector (B2B)', # Or 'Manufacturing Sector (B2B)'
    'nan': 'Unknown/Not Specified', # Map the string 'nan' to your unknown category or np.nan
    'facilities services': 'Service-Oriented (General B2B)', # Or 'Business Consulting'
    'utilities': 'Green Technology / Sustainability Services', # Or 'Energy Sector (B2B)' if you add it
    'consumer services': 'Service-Oriented (General B2B)', # Very broad
    'research': 'Business Consulting / Management Consulting', # Or 'Other', depends on type of research
    'higher education': 'EdTech / E-Learning', # Or 'Education Sector (B2B)'
    'computer & network security': 'Cybersecurity Services',
    'real estate': 'Financial Services / Consulting', # Or a new "Real Estate Services"
    'management consulting': 'Business Consulting / Management Consulting',
    'pharmaceuticals': 'Pharmaceutical Services / Consulting', # Or 'Healthcare Technology / HealthTech'
    'veterinary': 'Healthcare Services',
    'computer hardware': 'IT Services / Managed Services', # Or 'Product-Driven (Physical)'
    'apparel & fashion': 'Retail Sector (B2B)',
    'oil & energy': 'Green Technology / Sustainability Services', # Or 'Energy Sector (B2B)'
    'civic & social organization': 'Non-Profits / Associations (B2B)',
    'writing & editing': 'Digital Media / Creative Tech', # Or 'Service-Oriented'
    'medical devices': 'Healthcare Technology / HealthTech', # (MedTech sub-focus)
    'renewables & environment': 'Green Technology / Sustainability Services',
    'mechanical or industrial engineering': 'Manufacturing Sector (B2B)', # Or 'Business Consulting'
    'information services': 'IT Services / Managed Services', # Broad, could also be 'Software Dev'
    'semiconductors': 'Manufacturing Sector (B2B)', # (Electronics sub-focus)
    'import & export': 'Wholesale / Distribution',
    'restaurants': 'Retail Technology / Hospitality Technology', # Or 'Food & Beverage'
    'international affairs': 'Business Consulting / Management Consulting', # Or 'Other'
    'computer networking': 'IT Services / Managed Services', # Or 'Telecommunications'
    'sports': 'Digital Media / Creative Tech', # Or 'Service-Oriented'
    'publishing': 'Digital Media / Creative Tech', # Or specific "Publishing" category
    'translation & localization': 'Service-Oriented (General B2B)', # Or a new "Translation Services"
    'cosmetics': 'Retail Sector (B2B)',
    'aviation & aerospace': 'Aerospace Technology / Space Tech',
    'printing': 'Manufacturing Services / PaaS', # Or 'Service-Oriented (General B2B)'
    'e-learning': 'EdTech / E-Learning',
    'law practice': 'Legal Technology', # Or 'Service-Oriented (Legal)'
    'nanotechnology': 'Other', # Or 'Software Development / SaaS' if tech-focused
    'sporting goods': 'Retail Sector (B2B)',
    'museums & institutions': 'Non-Profits / Associations (B2B)', # Or 'Education Sector'
    'online media': 'Digital Media / Creative Tech',
    'chemicals': 'Manufacturing Sector (B2B)', # (Chemicals sub-focus)
    'public policy': 'Business Consulting / Management Consulting', # Or 'Public Sector'
    'hospital & health care': 'Healthcare Services', # Or 'Healthcare Technology / HealthTech' depending on company
    'primary/secondary education': 'EdTech / E-Learning', # Or 'Education Sector (B2B)'
    'music': 'Digital Media / Creative Tech',
    'security & investigations': 'Cybersecurity Services', # Or 'Security Technology (Physical)'
    'textiles': 'Manufacturing Sector (B2B)',
    'individual & family services': 'Service-Oriented (General B2B)', # Broad
    'banking': 'Financial Services / Consulting',
    'airlines/aviation': 'Aerospace Technology / Space Tech',
    'religious institutions': 'Non-Profits / Associations (B2B)',
    'venture capital & private equity': 'Financial Services / Consulting',
    'mental health care': 'Healthcare Services',
    'railroad manufacture': 'Manufacturing Sector (B2B)',
    'graphic design': 'Digital Media / Creative Tech',
    'farming': 'Food & Beverage', # Or a new 'Agriculture'
    'alternative medicine': 'Wellness Technology / Alternative Health Products', # Or 'Healthcare Services'
    'packaging & containers': 'Packaging Solutions',
    'glass, ceramics & concrete': 'Manufacturing Sector (B2B)',
    'fine art': 'Digital Media / Creative Tech', # Or 'Retail Sector (B2B)'
    'package/freight delivery': 'Logistics Technology / Supply Chain Tech',
    'investment management': 'Financial Services / Consulting',
    'defense & space': 'Aerospace Technology / Space Tech', # Or specific "Defense" category
    'paper & forest products': 'Manufacturing Sector (B2B)',
    'warehousing': 'Logistics Technology / Supply Chain Tech',
    'computer software': 'Software Development / SaaS',
    'maritime': 'Logistics Technology / Supply Chain Tech',
    'think tanks': 'Business Consulting / Management Consulting', # Or 'Other'
    'law enforcement': 'Public Sector / Government (B2B)',
    'computer games': 'Software Development / SaaS', # (Gaming focus) or 'Digital Media'
    'photography': 'Digital Media / Creative Tech', # Or 'Service-Oriented'
    'internet': 'IT Services / Managed Services', # Could also be 'Software Development / SaaS'
    'shipbuilding': 'Manufacturing Sector (B2B)',
    'public safety': 'Public Sector / Government (B2B)', # Or 'Security Tech'
    'executive office': 'Business Consulting / Management Consulting', # Or 'Public Sector'
    'consumer goods': 'Wholesale / Distribution', # Or 'Retail Sector (B2B)'
    'industrial automation': 'Automation Technology',
    'investment banking': 'Financial Services / Consulting',
    'alternative dispute resolution': 'Legal Technology', # Or 'Service-Oriented (Legal)'
    'dairy': 'Food & Beverage',
    'commercial real estate': 'Financial Services / Consulting', # Or "Real Estate Services"
    'government relations': 'Business Consulting / Management Consulting', # Or 'Public Sector'
    'outsourcing/offshoring': 'Business Consulting / Management Consulting', # Or 'IT Services'
    'gambling & casinos': 'Retail Technology / Hospitality Technology', # Or 'Other'
    'libraries': 'Public Sector / Government (B2B)', # Or 'Education Sector'
    'capital markets': 'Financial Services / Consulting',
    'broadcast media': 'Digital Media / Creative Tech',
    'military': 'Public Sector / Government (B2B)', # Or specific "Defense"
    'animation': 'Digital Media / Creative Tech',
    'philanthropy': 'Non-Profits / Associations (B2B)',
    'arts & crafts': 'Retail Sector (B2B)',
    'consumer electronics': 'Retail Sector (B2B)', # Or 'Manufacturing Sector (B2B)'
    'fund-raising': 'Non-Profits / Associations (B2B)',
    'wireless': 'Telecommunications Services / Infrastructure',
    'tobacco': 'Wholesale / Distribution', # Or 'Other'
    'program development': 'Software Development / SaaS', # Or 'Business Consulting'
    'fishery': 'Food & Beverage', # Or 'Other'
    'legislative office': 'Public Sector / Government (B2B)',
    'newspapers': 'Digital Media / Creative Tech', # Or "Publishing"
    'ranching': 'Food & Beverage', # Or 'Other' / 'Agriculture'
    'agriculture': 'Food & Beverage', # Or a new 'Agriculture'
    }
    print(f"Initial mapping dictionary created with {len(industry_mapping_large_to_standard)} entries.")
    print("Remember to complete this dictionary based on the unique industries printed above.")

--- Step 6: Process Industry and SIC Codes ---

--- Step 6a: Inspecting the Existing 'Industry' Column ---
Number of unique industries in dataset: 145
Sample unique industries (first 50):
['events services' 'architecture & planning' 'accounting'
 'staffing & recruiting' 'information technology & services'
 'nonprofit organization management' 'food & beverages' 'insurance'
 'marketing & advertising' 'hospitality' 'political organization'
 'electrical/electronic manufacturing' 'mining & metals'
 'health, wellness & fitness' 'transportation/trucking/railroad'
 'entertainment' 'logistics & supply chain' 'machinery'
 'building materials' 'recreational facilities & services'
 'financial services' 'biotechnology' 'performing arts' 'food production'
 'government administration' 'luxury goods & jewelry' 'construction'
 'plastics' 'design' 'legal services' 'public relations & communications'
 'media production' 'business supplies & equipment'
 'environmental services' 'international trade & development'
 'education management' 'human resources' 'civil engineering' 'retail'
 'leisure, travel & tourism' 'automotive' 'wholesale' 'medical practice'
 'telecommunications' 'market research' 'wine & spirits'
 'professional training & coaching' 'furniture' 'nan'
 'facilities services']

Value counts for 'Industry' (Top 30):
Industry
information technology & services       10150
NaN                                      4597
machinery                                4414
construction                             2528
marketing & advertising                  2351
management consulting                    2349
government administration                2185
hospital & health care                   1899
automotive                               1821
financial services                       1817
research                                 1544
electrical/electronic manufacturing      1533
retail                                   1458
real estate                              1403
wholesale                                1357
hospitality                              1342
health, wellness & fitness               1299
architecture & planning                  1247
civic & social organization              1089
medical devices                          1038
higher education                         1037
media production                         1004
food production                           988
staffing & recruiting                     976
logistics & supply chain                  922
banking                                   908
nonprofit organization management         887
professional training & coaching          885
mechanical or industrial engineering      795
utilities                                 784
Name: count, dtype: int64

--- Step 6b: Create the Mapping Dictionary (Manual Task) ---
Initial mapping dictionary created with 146 entries.
Remember to complete this dictionary based on the unique industries printed above.

In [18]:
# Step 6c (Apply Mapping - run this AFTER you've finalized the dictionary in 6b)
print("\n--- Step 6c: Applying the Industry Mapping ---")

# Ensure the column name 'Industry' matches your DataFrame
if 'Industry' in df_processed_step3_categorization.columns:
    df_processed_step3_categorization['Industry_Category_Standardized'] = df_processed_step3_categorization['Industry'].map(industry_mapping_large_to_standard)

    unmapped_count = df_processed_step3_categorization['Industry_Category_Standardized'].isnull().sum()
    # This count includes original NaNs in 'Industry' plus any keys not found in your map
    print(f"Number of rows where 'Industry_Category_Standardized' is NaN: {unmapped_count}")

    if unmapped_count > 0:
        print("Breakdown of NaNs in 'Industry_Category_Standardized':")
        original_nans_in_industry = df_processed_step3_categorization['Industry'].isnull().sum()
        print(f"  - Caused by original NaNs in 'Industry' column: {original_nans_in_industry}")
        
        # Identify industries that were present in data but NOT in mapping dictionary (excluding original NaNs)
        unmapped_industries_from_data = df_processed_step3_categorization[
            df_processed_step3_categorization['Industry'].notna() & df_processed_step3_categorization['Industry_Category_Standardized'].isnull()
        ]['Industry'].astype(str).unique()
        
        num_truly_unmapped = len(unmapped_industries_from_data)
        print(f"  - Caused by 'Industry' values not found in mapping dictionary: {num_truly_unmapped}")

        if num_truly_unmapped > 0:
            print("  Industries present in data but MISSING from mapping dictionary (sample of up to 50):")
            print(unmapped_industries_from_data[:50])
            print("  ACTION: Add these to 'industry_mapping_large_to_standard' in Step 6b and re-run 6b and this 6c cell.")
else:
    print("'Industry' column not found in df_processed_step3_categorization.")

--- Step 6c: Applying the Industry Mapping ---
Number of rows where 'Industry_Category_Standardized' is NaN: 4597
Breakdown of NaNs in 'Industry_Category_Standardized':
  - Caused by original NaNs in 'Industry' column: 4597
  - Caused by 'Industry' values not found in mapping dictionary: 0

In [19]:
# After Step 6c (primary industry mapping) and before Step 6d
if 'SIC Codes' in df_processed_step3_categorization.columns and 'Industry_Category_Standardized' in df_processed_step3_categorization.columns:
    sic_present_mask = df_processed_step3_categorization['SIC Codes'].notna()
    industry_still_nan_mask = df_processed_step3_categorization['Industry_Category_Standardized'].isnull()
    
    records_with_sic_and_nan_industry = df_processed_step3_categorization[sic_present_mask & industry_still_nan_mask]
    count_can_potentially_fill_via_sic = len(records_with_sic_and_nan_industry)
    
    print(f"Number of records that have SIC codes AND 'Industry_Category_Standardized' is still NaN: {count_can_potentially_fill_via_sic}")

    if count_can_potentially_fill_via_sic > 0:
        print("Unique SIC codes among these records (sample):")
        # Helper to get unique first SIC codes from this subset
        def get_first_sic(sic_val):
            if pd.isna(sic_val): return None
            return str(sic_val).split(';')[0].strip()
        
        unique_sics_to_potentially_map = records_with_sic_and_nan_industry['SIC Codes'].apply(get_first_sic).dropna().unique()
        print(sorted(list(unique_sics_to_potentially_map))[:50]) # Print a sample of SICs you might target
    else:
        print("No records with SIC codes need their industry category filled (already filled by primary industry mapping).")
else:
    print("Required columns ('SIC Codes' or 'Industry_Category_Standardized') not found.")

Number of records that have SIC codes AND 'Industry_Category_Standardized' is still NaN: 146
Unique SIC codes among these records (sample):
['1000', '1000, 1090, 3317, 1220, 1000, 3334', '1382', '1382, 1382, 4900, 1623', '1731, 3317', '2030', '2300', '2741', '2836, 2836', '3317', '3537', '3537, 5531', '3630', '3821, 3812', '4581', '4700', '4833', '5000', '5047', '5331, 5990', '5990', '6199', '6199, 6199', '6199, 6411, 6199', '6282', '6500', '7011', '7311', '7371', '7371, 7372', '7372', '7373', '7380', '7900', '7900, 7011', '8000', '8000, 5047', '8000, 8060', '8060', '8200', '8200, 8200', '8200, 8200, 8200', '8300', '8600', '8731, 2836', '8742']

In [20]:
print("\n--- Step 6d: Filling Remaining NaNs in Industry_Category_Standardized ---")

# Check if the 'Industry_Category_Standardized' column exists
if 'Industry_Category_Standardized' not in df_processed_step3_categorization.columns:
    print("'Industry_Category_Standardized' column not found. Ensure Step 6c (Apply Mapping) ran successfully.")
else:
    # We are skipping the detailed SIC code mapping effort due to low potential impact (only 148 records).
    # Directly proceed to fill any remaining NaNs from the primary industry mapping.
    
    current_nans = df_processed_step3_categorization['Industry_Category_Standardized'].isnull().sum()
    if current_nans > 0:
        print(f"Found {current_nans} NaN values in 'Industry_Category_Standardized' before final fill (these include the 148 that had SICs).")
        df_processed_step3_categorization['Industry_Category_Standardized'] = (df_processed_step3_categorization['Industry_Category_Standardized'].fillna('Unknown/Not Specified')
)
        print("Filled remaining NaNs in 'Industry_Category_Standardized' with 'Unknown/Not Specified'.")
    else:
        print("No NaN values found in 'Industry_Category_Standardized' to fill.")

    print("\nValue counts for 'Industry_Category_Standardized' (final):")
    print(df_processed_step3_categorization['Industry_Category_Standardized'].value_counts(dropna=False))

print("\n--- Finished Step 6 ---")

--- Step 6d: Filling Remaining NaNs in Industry_Category_Standardized ---
Found 4597 NaN values in 'Industry_Category_Standardized' before final fill (these include the 148 that had SICs).
Filled remaining NaNs in 'Industry_Category_Standardized' with 'Unknown/Not Specified'.

Value counts for 'Industry_Category_Standardized' (final):
Industry_Category_Standardized
Manufacturing Sector (B2B)                           14439
IT Services / Managed Services                       10536
Business Consulting / Management Consulting           7980
Financial Services / Consulting                       5738
Unknown/Not Specified                                 4597
Healthcare Services                                   4146
Digital Media / Creative Tech                         4010
Retail Sector (B2B)                                   2943
Retail Technology / Hospitality Technology            2837
Digital Marketing Agency / Web Development            2667
Non-Profits / Associations (B2B)                      2661
EdTech / E-Learning                                   2462
Public Sector / Government (B2B)                      2385
Green Technology / Sustainability Services            2268
Wholesale / Distribution                              2259
Food & Beverage                                       1961
Logistics Technology / Supply Chain Tech              1678
HR / Recruitment                                      1375
Service-Oriented (General B2B)                        1311
Healthcare Technology / HealthTech                    1121
Legal Technology                                      1091
Telecommunications Services / Infrastructure           699
Pharmaceutical Services / Consulting                   676
Aerospace Technology / Space Tech                      603
Cybersecurity Services                                 387
Packaging Solutions                                    339
Manufacturing Services / PaaS                          313
Software Development / SaaS                            159
Automation Technology                                  113
Wellness Technology / Alternative Health Products       66
Other                                                   64
Name: count, dtype: int64

--- Finished Step 6 ---

In [21]:
df_large = df_processed_step3_categorization.copy()

In [22]:
import pandas as pd
import numpy as np

print("\n--- Step 7: Process Company Country / City ---")
print("\n--- Step 7a: Inspecting 'Company Country' and 'Company City' ---")

if 'Company Country' in df_large.columns:
    print(f"Number of unique 'Company Country' values: {df_large['Company Country'].nunique()}")
    print("Sample unique 'Company Country' values (first 50):")
    # astype(str) to handle potential mixed types or NaNs gracefully for unique() display
    print(df_large['Company Country'].astype(str).unique()[:50])
    print("\nValue counts for 'Company Country' (Top 20):")
    print(df_large['Company Country'].value_counts(dropna=False).nlargest(20))
    print(f"Missing 'Company Country' values: {df_large['Company Country'].isnull().sum()}")
else:
    print("'Company Country' column not found.")

if 'Company City' in df_large.columns:
    # City can have many unique values, so we usually don't print all uniques
    print(f"\nNumber of unique 'Company City' values: {df_large['Company City'].nunique()}")
    print(f"Missing 'Company City' values: {df_large['Company City'].isnull().sum()}")
    # print("Sample 'Company City' values:", df_large['Company City'].dropna().unique()[:20]) # Optional
else:
    print("'Company City' column not found.")

--- Step 7: Process Company Country / City ---

--- Step 7a: Inspecting 'Company Country' and 'Company City' ---
Number of unique 'Company Country' values: 3
Sample unique 'Company Country' values (first 50):
['Switzerland' 'Germany' 'Austria']

Value counts for 'Company Country' (Top 20):
Company Country
Germany        58938
Switzerland    18184
Austria         6762
Name: count, dtype: int64
Missing 'Company Country' values: 0

Number of unique 'Company City' values: 6251
Missing 'Company City' values: 879

In [23]:
print("\n--- Step 7b: Standardizing Country Names (Simplified) ---")
if 'Company Country' in df_large.columns:
    df_large['Country_Standardized'] = df_large['Company Country'] # Direct assignment as data is clean
    print("Unique 'Country_Standardized' values (should be Germany, Switzerland, Austria):")
    print(df_large['Country_Standardized'].unique())
    print("No complex normalization needed due to clean source country data.")
else:
    print("'Company Country' column not found.")
    df_large['Country_Standardized'] = np.nan # Create column if it was missing

--- Step 7b: Standardizing Country Names (Simplified) ---
Unique 'Country_Standardized' values (should be Germany, Switzerland, Austria):
['Switzerland' 'Germany' 'Austria']
No complex normalization needed due to clean source country data.

In [24]:
print("\n--- Step 7c: Creating 'Geographic_Reach_Category_Standardized' (Simplified) ---")

# Your standardized reach categories:
# "National (Germany)", "National (Switzerland)", "National (Austria)",
# "DACH Region", "Unknown / Not Specified"
# "European" and "International / Global" are not applicable if ONLY these 3 countries exist.

def determine_geographic_reach_simplified(country_std):
    if pd.isna(country_std): # Should not happen given your data, but good practice
        return 'Unknown / Not Specified'

    country_lower = str(country_std).lower()

    if country_lower == 'germany':
        return 'National (Germany)'
    elif country_lower == 'switzerland':
        return 'National (Switzerland)'
    elif country_lower == 'austria':
        return 'National (Austria)'
    else:
        # This case should ideally not be reached if your input is only these three
        return 'Unknown / Not Specified'

if 'Country_Standardized' not in df_large.columns:
    print("'Country_Standardized' column not found. Run Step 7b first.")
    df_large['Geographic_Reach_Category_Standardized'] = 'Unknown / Not Specified' # Default
else:
    df_large['Geographic_Reach_Category_Standardized'] = df_large['Country_Standardized'].apply(determine_geographic_reach_simplified)

    # --- Optional: Assigning "DACH Region" ---
    # At this point, all companies are assigned a "National (Country X)" category.
    # If your project definition considers ANY company from Germany, Austria, or Switzerland
    # as being part of the "DACH Region" for broader categorization, you could do this:
    #
    # apply_dach_override = True # Set to False if you want to keep them separate National categories
    # if apply_dach_override:
    #     print("\nOverriding National categories to 'DACH Region' for all G/A/S companies...")
    #     df_large['Geographic_Reach_Category_Standardized'] = 'DACH Region'
    #
    # More nuanced DACH assignment would require other data (e.g., if company description says "we serve DACH").
    # For now, the above function assigns specific national categories.
    # If you want a "DACH Region" category, you need to decide when it applies.
    # If a company is ONLY in Germany, is it "National (Germany)" or "DACH Region" for your purposes?
    # Your current 70 partner data has "DACH Region" as a category - how was that determined?
    # If it means "the company primarily operates within one or more of these three countries
    # and its main focus is this collective region", then a simple override might be too broad.
    #
    # Let's assume for now you want to keep them as "National (Germany)", "National (Austria)", "National (Switzerland)"
    # unless a company explicitly states its reach is the broader DACH region in its description.
    # We can refine DACH assignment later if needed, after processing descriptions.

print("\nValue counts for 'Geographic_Reach_Category_Standardized':")
print(df_large['Geographic_Reach_Category_Standardized'].value_counts(dropna=False))

print("\n--- Finished Step 7 ---")

--- Step 7c: Creating 'Geographic_Reach_Category_Standardized' (Simplified) ---

Value counts for 'Geographic_Reach_Category_Standardized':
Geographic_Reach_Category_Standardized
National (Germany)        58938
National (Switzerland)    18184
National (Austria)         6762
Name: count, dtype: int64

--- Finished Step 7 ---

In [25]:
import pandas as pd
import numpy as np

print("\n--- Step 8: Evaluate Short Description and SEO Description ---")
print("\n--- Step 8a: Inspecting 'Short Description' and 'SEO Description' Columns ---")

# --- Inspect 'Short Description' ---
if 'Short Description' in df_large.columns:
    print("\n--- Inspecting 'Short Description' ---")
    # Get basic info, including data type and non-null count
    # df_large['Short Description'].info() # This prints to console, a bit verbose for this summary
    print(f"Data type of 'Short Description': {df_large['Short Description'].dtype}")
    missing_short_desc_count = df_large['Short Description'].isnull().sum()
    total_rows = len(df_large)
    print(f"Missing 'Short Description' values: {missing_short_desc_count} (out of {total_rows} total rows, {((missing_short_desc_count/total_rows)*100 if total_rows > 0 else 0):.2f}%)")
    
    # Display a few non-null samples to check content and quality
    if missing_short_desc_count < total_rows: # If there's at least one non-null value
        print("\nSample 'Short Description' values (first 5 non-null):")
        # .dropna() to remove NaNs, then .head() to get first few
        # .tolist() to print them cleanly
        print(df_large['Short Description'].dropna().head(5).tolist())
    else:
        print("All 'Short Description' values are missing.")
else:
    print("'Short Description' column not found.")
    # If the column is missing, create an empty one so downstream code doesn't break
    # This ensures 'Combined_Description' can still be created.
    df_large['Short Description'] = np.nan 


# --- Inspect 'SEO Description' ---
if 'SEO Description' in df_large.columns:
    print("\n--- Inspecting 'SEO Description' ---")
    # df_large['SEO Description'].info() # Verbose
    print(f"Data type of 'SEO Description': {df_large['SEO Description'].dtype}")
    missing_seo_desc_count = df_large['SEO Description'].isnull().sum()
    print(f"Missing 'SEO Description' values: {missing_seo_desc_count} (out of {total_rows} total rows, {((missing_seo_desc_count/total_rows)*100 if total_rows > 0 else 0):.2f}%)")

    if missing_seo_desc_count < total_rows:
        print("\nSample 'SEO Description' values (first 5 non-null):")
        print(df_large['SEO Description'].dropna().head(5).tolist())
    else:
        print("All 'SEO Description' values are missing.")
else:
    print("'SEO Description' column not found.")
    df_large['SEO Description'] = np.nan

--- Step 8: Evaluate Short Description and SEO Description ---

--- Step 8a: Inspecting 'Short Description' and 'SEO Description' Columns ---

--- Inspecting 'Short Description' ---
Data type of 'Short Description': object
Missing 'Short Description' values: 12812 (out of 83884 total rows, 15.27%)

Sample 'Short Description' values (first 5 non-null):
['Vorhang auf für Ihren Event. Laden Sie ein, schaffen Sie Welten, verblüffen Sie Besucher, bringen Sie Ihr Publikum zum Staunen. Schöpfen Sie aus dem Vollen, inszenieren Sie Ihre Shows, Konzerte, Messen und Ausstellungen in den grosszügigen Eventräumen des TRAFO.\n\nZählen Sie für Ihren Event auf die weitreichende Erfahrung und das vertiefte Fachwissen unserer Veranstaltungstechniker und Eventplaner. Bespielen Sie Eventräume unterschiedlicher Grösse wie die TRAFOHALLE oder den Glassaal. Verwöhnen Sie Ihr Publikum mit den Köstlichkeiten unserer Eventkulinarik.\n\nNennen Sie die Ziele Ihres Events und nutzen Sie die Beratung unserer Spezialisten aus unzähligen Veranstaltungen. TRAFO Baden - für jeden Event stimmen Raum, Technik, Mobiliar und Dekoration.', 'Architektur - Planung und Bauleitung, Quartierplanverfahren, Projektentwicklungen, Wettbewerbe, Innenarchitektur, Visualisierungen\n\nLandschaftsarchitektur - Planung und Bauleitung', 'Treuhand und Immobilien mit Herz und Verstand. Sowohl für Unternehmen wie auch für Privatpersonen. Wir beraten nicht nur. Wir hinterfragen, analysieren und legen die Fakten auf den Tisch. Dabei spielt es keine Rolle, ob Sie uns administrative Arbeiten dauerhaft übertragen oder gezielt Unterstützung bei einer Aufgabe wünschen. Bei allem was wir tun steht stets der Mensch im Mittelpunkt. Unser Ziel ist immer Ihr langfristiger Erfolg.', 'WIR SIND IHR REGIONALER JOBPROFI.  \nDie Firma SEELAND JOB AG hat ihren Sitz in Biel, Solothurn und Bern. \n\nUnser Team besteht aus Menschen mit Empathie, sozialer Erfahrung und Verantwortung.', 'We focus on our area of expertise: software development. Whether you are trying to create a website to process millions of records or a software to ease or expedite the process, our experience and know-how will ensure that we come up with the perfect solution, together.']

--- Inspecting 'SEO Description' ---
Data type of 'SEO Description': object
Missing 'SEO Description' values: 37703 (out of 83884 total rows, 44.95%)

Sample 'SEO Description' values (first 5 non-null):
['Herzlich willkommen bei Otto Partner Architekten AG. Wir sind ein modernes Architektur-Büro in Liestal, BL.', 'Durchforschen Sie unsere aktuellen Stellenangebote und finden Temporär- & Feststellenvermittlung für Bau, Handwerk, Industrie, Kaufmännische Bereiche, Kaderstellen', 'TEDxZurich is an independently organised event.', 'Sourcing and roasting exceptional coffees, shipping worldwide for wholesale & retail or carefully brewed in our Berlin-based cake shops.', "Salles et halles d'événement à Fribourg. Grand bâtiment capable de contenir jusqu'à 10.000 personnes. Entièrement personnalisable pour répondre à vos besoins."]

In [26]:
print("\n--- Step 8b: Combining into a Single 'Combined_Description' Column ---")

# Ensure the columns exist (they would have been created as NaN columns in 8a if missing)
# Fill NaNs with empty strings for safe concatenation
s_desc_clean = df_large['Short Description'].fillna('').astype(str)
seo_desc_clean = df_large['SEO Description'].fillna('').astype(str)

# Create the 'Combined_Description'
# Strategy:
# 1. If Short Description is substantial, use it.
# 2. If Short Description is short or missing, and SEO Description is substantial, use SEO Description.
# 3. If both are substantial, concatenate them with a separator.
# 4. If one is substantial and the other is short but different, concatenate.

df_large['Combined_Description'] = '' # Initialize

for index, row in df_large.iterrows():
    s_desc = str(row['Short Description']).strip() if pd.notna(row['Short Description']) else ''
    seo_desc = str(row['SEO Description']).strip() if pd.notna(row['SEO Description']) else ''
    
    combined = ''
    # Check if descriptions are substantially different to avoid near-duplicate concatenation
    # This is a simple check; more sophisticated similarity could be used but adds complexity.
    are_different_enough = True
    if s_desc and seo_desc:
        # A simple heuristic: if one is contained in the other (ignoring case and spaces),
        # consider them not different enough to just append.
        s_desc_norm = ''.join(s_desc.lower().split())
        seo_desc_norm = ''.join(seo_desc.lower().split())
        if s_desc_norm in seo_desc_norm or seo_desc_norm in s_desc_norm:
            are_different_enough = False

    if s_desc and seo_desc:
        if are_different_enough or len(s_desc) < 50 or len(seo_desc) < 50: # Concatenate if different or if one is short
            combined = s_desc + ". " + seo_desc # Using ". " as a separator
        else: # Both are long and similar, prioritize the longer one or Short Description
            combined = s_desc if len(s_desc) >= len(seo_desc) else seo_desc
    elif s_desc:
        combined = s_desc
    elif seo_desc:
        combined = seo_desc
    
    df_large.loc[index, 'Combined_Description'] = combined.strip()

# Replace fully empty strings in 'Combined_Description' with np.nan
df_large['Combined_Description'] = df_large['Combined_Description'].replace('', np.nan)

missing_combined_desc = df_large['Combined_Description'].isnull().sum()
print(f"\nNumber of missing 'Combined_Description' values: {missing_combined_desc} ({((missing_combined_desc/total_rows)*100 if total_rows > 0 else 0):.2f}%)")

if missing_combined_desc < total_rows:
    print("\nSample 'Combined_Description' values (first 5 non-null):")
    print(df_large['Combined_Description'].dropna().head(5).tolist())
    # Also print a few longer ones to see the concatenation effect
    print("\nSample 'Combined_Description' values (longer examples, if any):")
    long_descriptions = df_large[df_large['Combined_Description'].str.len() > 150]['Combined_Description'].dropna()
    if not long_descriptions.empty:
        print(long_descriptions.head(3).tolist())
    else:
        print("No long combined descriptions found (length > 150).")
else:
    print("All 'Combined_Description' values are missing (or columns were not found).")

--- Step 8b: Combining into a Single 'Combined_Description' Column ---

Number of missing 'Combined_Description' values: 9179 (10.94%)

Sample 'Combined_Description' values (first 5 non-null):
['Vorhang auf für Ihren Event. Laden Sie ein, schaffen Sie Welten, verblüffen Sie Besucher, bringen Sie Ihr Publikum zum Staunen. Schöpfen Sie aus dem Vollen, inszenieren Sie Ihre Shows, Konzerte, Messen und Ausstellungen in den grosszügigen Eventräumen des TRAFO.\n\nZählen Sie für Ihren Event auf die weitreichende Erfahrung und das vertiefte Fachwissen unserer Veranstaltungstechniker und Eventplaner. Bespielen Sie Eventräume unterschiedlicher Grösse wie die TRAFOHALLE oder den Glassaal. Verwöhnen Sie Ihr Publikum mit den Köstlichkeiten unserer Eventkulinarik.\n\nNennen Sie die Ziele Ihres Events und nutzen Sie die Beratung unserer Spezialisten aus unzähligen Veranstaltungen. TRAFO Baden - für jeden Event stimmen Raum, Technik, Mobiliar und Dekoration.', 'Architektur - Planung und Bauleitung, Quartierplanverfahren, Projektentwicklungen, Wettbewerbe, Innenarchitektur, Visualisierungen\n\nLandschaftsarchitektur - Planung und Bauleitung. Herzlich willkommen bei Otto Partner Architekten AG. Wir sind ein modernes Architektur-Büro in Liestal, BL.', 'Treuhand und Immobilien mit Herz und Verstand. Sowohl für Unternehmen wie auch für Privatpersonen. Wir beraten nicht nur. Wir hinterfragen, analysieren und legen die Fakten auf den Tisch. Dabei spielt es keine Rolle, ob Sie uns administrative Arbeiten dauerhaft übertragen oder gezielt Unterstützung bei einer Aufgabe wünschen. Bei allem was wir tun steht stets der Mensch im Mittelpunkt. Unser Ziel ist immer Ihr langfristiger Erfolg.', 'WIR SIND IHR REGIONALER JOBPROFI.  \nDie Firma SEELAND JOB AG hat ihren Sitz in Biel, Solothurn und Bern. \n\nUnser Team besteht aus Menschen mit Empathie, sozialer Erfahrung und Verantwortung.. Durchforschen Sie unsere aktuellen Stellenangebote und finden Temporär- & Feststellenvermittlung für Bau, Handwerk, Industrie, Kaufmännische Bereiche, Kaderstellen', 'We focus on our area of expertise: software development. Whether you are trying to create a website to process millions of records or a software to ease or expedite the process, our experience and know-how will ensure that we come up with the perfect solution, together.']

Sample 'Combined_Description' values (longer examples, if any):
['Vorhang auf für Ihren Event. Laden Sie ein, schaffen Sie Welten, verblüffen Sie Besucher, bringen Sie Ihr Publikum zum Staunen. Schöpfen Sie aus dem Vollen, inszenieren Sie Ihre Shows, Konzerte, Messen und Ausstellungen in den grosszügigen Eventräumen des TRAFO.\n\nZählen Sie für Ihren Event auf die weitreichende Erfahrung und das vertiefte Fachwissen unserer Veranstaltungstechniker und Eventplaner. Bespielen Sie Eventräume unterschiedlicher Grösse wie die TRAFOHALLE oder den Glassaal. Verwöhnen Sie Ihr Publikum mit den Köstlichkeiten unserer Eventkulinarik.\n\nNennen Sie die Ziele Ihres Events und nutzen Sie die Beratung unserer Spezialisten aus unzähligen Veranstaltungen. TRAFO Baden - für jeden Event stimmen Raum, Technik, Mobiliar und Dekoration.', 'Architektur - Planung und Bauleitung, Quartierplanverfahren, Projektentwicklungen, Wettbewerbe, Innenarchitektur, Visualisierungen\n\nLandschaftsarchitektur - Planung und Bauleitung. Herzlich willkommen bei Otto Partner Architekten AG. Wir sind ein modernes Architektur-Büro in Liestal, BL.', 'Treuhand und Immobilien mit Herz und Verstand. Sowohl für Unternehmen wie auch für Privatpersonen. Wir beraten nicht nur. Wir hinterfragen, analysieren und legen die Fakten auf den Tisch. Dabei spielt es keine Rolle, ob Sie uns administrative Arbeiten dauerhaft übertragen oder gezielt Unterstützung bei einer Aufgabe wünschen. Bei allem was wir tun steht stets der Mensch im Mittelpunkt. Unser Ziel ist immer Ihr langfristiger Erfolg.']

In [27]:
print("\n--- Step 8c: Assessing Language of 'Combined_Description' ---")

if 'Combined_Description' not in df_large.columns or df_large['Combined_Description'].isnull().all():
    print("'Combined_Description' column is missing or all values are NaN. Cannot assess language.")
else:
    try:
        # You might need to install langdetect: pip install langdetect
        from langdetect import detect, LangDetectException, DetectorFactory
        DetectorFactory.seed = 0 # For reproducible results if langdetect uses randomness

        def detect_language_robust(text):
            if pd.isna(text) or not str(text).strip(): # Ensure text is string and not just whitespace
                return 'unknown_empty_or_nan'
            try:
                # langdetect works best with longer texts.
                # If text is very short, it might be unreliable.
                if len(str(text).strip()) < 15: # Arbitrary threshold for very short text
                    return 'unknown_too_short'
                return detect(str(text))
            except LangDetectException:
                # This can happen if the text is ambiguous or contains no detectable language features
                return 'unknown_error_detecting'

        print("Assessing language for a sample of 'Combined_Description' (up to 1000 rows)...")
        # Take a sample of non-NaN descriptions
        # Ensure we only sample from rows where Combined_Description is not NaN
        descriptions_for_lang_detect = df_large['Combined_Description'].dropna()
        
        if not descriptions_for_lang_detect.empty:
            sample_size = min(1000, len(descriptions_for_lang_detect))
            sampled_descriptions = descriptions_for_lang_detect.sample(n=sample_size, random_state=42) # random_state for reproducibility
            
            # Apply language detection to the sample
            # It's good practice to convert to string explicitly if there's any doubt about dtype
            df_large.loc[sampled_descriptions.index, 'description_language_sample'] = sampled_descriptions.astype(str).apply(detect_language_robust)
            
            print("\nLanguage distribution in the sampled 'Combined_Description':")
            print(df_large['description_language_sample'].value_counts(dropna=False))

            # Optional: If you want to apply to the whole dataset (can be slow for ~80k rows)
            # print("\nApplying language detection to the entire dataset (this may take time)...")
            # df_large['description_language_full'] = df_large['Combined_Description'].astype(str).apply(detect_language_robust)
            # print("\nLanguage distribution in the full 'Combined_Description' dataset:")
            # print(df_large['description_language_full'].value_counts(dropna=False))
        else:
            print("No non-NaN descriptions available for language detection.")

    except ImportError:
        print("The 'langdetect' library is not installed. Please install it: pip install langdetect")
    except Exception as e:
        print(f"An error occurred during language detection: {e}")

print("\n--- Finished Step 8 ---")

--- Step 8c: Assessing Language of 'Combined_Description' ---
Assessing language for a sample of 'Combined_Description' (up to 1000 rows)...

Language distribution in the sampled 'Combined_Description':
description_language_sample
NaN                  82884
de                     505
en                     431
fr                      47
it                       7
unknown_too_short        3
es                       3
lt                       1
ja                       1
nl                       1
ar                       1
Name: count, dtype: int64

--- Finished Step 8 ---

In [28]:
# save the processed DataFrame to a new CSV file
# output_file_path = 'final_80k.csv'
# df_large.to_csv(output_file_path, index=False)
# print(f"\nProcessed DataFrame saved to '{output_file_path}'.")

In [32]:
import pandas as pd
import numpy as np  # For np.nan if 'Founded Year' is missing for some
from datetime import datetime  # To get the current year

print("\n--- Step 9: Process 'Founded Year' ---")
print("\n--- Step 9a: Inspecting and Cleaning 'Founded Year' ---")

if 'Founded Year' not in df_large.columns:
    print("'Founded Year' column not found. Skipping this step.'")
    # If you intend to use logic based on founded_year_numeric later,
    # you might want to create it as a column of NaNs here to prevent errors.
    # df_large['founded_year_numeric'] = np.nan
else:
    print(f"Original 'Founded Year' data type: {df_large['Founded Year'].dtype}")
    
    # Display a sample of unique values to understand its current format
    # astype(str) to handle potential mixed types or NaNs gracefully for unique() display
    unique_founded_years = df_large['Founded Year'].astype(str).unique()
    print(f"Sample unique 'Founded Year' values (first 30): {unique_founded_years[:30]}")
    
    missing_founded_year_count = df_large['Founded Year'].isnull().sum()
    total_rows = len(df_large)
    print(f"Missing 'Founded Year' values: {missing_founded_year_count} (out of {total_rows} total rows, {((missing_founded_year_count/total_rows)*100 if total_rows > 0 else 0):.2f}%)")

    # Convert to numeric. Years should ideally be integers.
    # pd.to_numeric will turn non-convertible values into NaT/NaN if errors='coerce'
    # We'll then try to extract the year if it's a datetime-like object or just keep numeric.
    
    # Attempt 1: Direct to_numeric (if years are already numbers or simple strings like \"2010\")
    df_large['founded_year_numeric'] = pd.to_numeric(df_large['Founded Year'], errors='coerce')

    # Attempt 2: For cases where 'Founded Year' might be full dates (e.g., \"2010-01-15\")
    # This will extract the year part. Only apply where direct to_numeric failed.
    # This also helps if some are datetimes and some are just years as floats/ints from Excel.
    if df_large['founded_year_numeric'].isnull().any():  # If some failed direct numeric conversion
        # Try converting to datetime and extracting the year
        # This is robust to various date formats Pandas can infer
        potential_datetimes = pd.to_datetime(df_large['Founded Year'], errors='coerce')
        # Fill NaNs in 'founded_year_numeric' with years extracted from these datetimes
        df_large['founded_year_numeric'] = df_large['founded_year_numeric'].fillna(potential_datetimes.dt.year)

    # Final conversion to integer type that supports NaNs (Pandas nullable integer)
    # Before converting to Int64, ensure all non-NaNs are whole numbers (no decimals from .dt.year if it was a float year)
    # This also handles cases where 'Founded Year' might have been like 2010.0 from Excel
    df_large['founded_year_numeric'] = df_large['founded_year_numeric'].round(0).astype('Int64')

    print(f"\nMissing values in 'founded_year_numeric' after cleaning: {df_large['founded_year_numeric'].isnull().sum()}")
    print("Descriptive statistics for 'founded_year_numeric':")
    print(df_large['founded_year_numeric'].describe())

    # Check for unrealistic years (e.g., future years, very old years)
    if df_large['founded_year_numeric'].notna().any():
        current_year_val = datetime.now().year
        print(f"Min founded year: {df_large['founded_year_numeric'].min()}, Max founded year: {df_large['founded_year_numeric'].max()}")
        unrealistic_future_years = df_large[df_large['founded_year_numeric'] > current_year_val]['founded_year_numeric'].count()
        unrealistic_old_years = df_large[df_large['founded_year_numeric'] < 1800]['founded_year_numeric'].count()  # Arbitrary old threshold
        if unrealistic_future_years > 0:
            print(f"WARNING: Found {unrealistic_future_years} companies with founding year in the future.")
        if unrealistic_old_years > 0:
            print(f"WARNING: Found {unrealistic_old_years} companies with founding year before 1800.")
            # You might want to set these unrealistic years to NaN:
            # df_large.loc[df_large['founded_year_numeric'] > current_year_val, 'founded_year_numeric'] = pd.NA
            # df_large.loc[df_large['founded_year_numeric'] < 1800, 'founded_year_numeric'] = pd.NA

# In your Step 9a, after printing the warnings:
current_year_val = datetime.now().year # Ensure this is defined in scope

# Define your threshold for "too old"
too_old_threshold = 1800 # Or 1700, or 1850, depending on your judgment for this dataset

condition_too_old = df_large['founded_year_numeric'] < too_old_threshold
num_set_to_na_old = condition_too_old.sum()
if num_set_to_na_old > 0:
    print(f"Setting {num_set_to_na_old} founding years before {too_old_threshold} to NA.")
    df_large.loc[condition_too_old, 'founded_year_numeric'] = pd.NA

# Also check for future years again, just in case (though max is 2024 here)
condition_future = df_large['founded_year_numeric'] > current_year_val
num_set_to_na_future = condition_future.sum()
if num_set_to_na_future > 0:
    print(f"Setting {num_set_to_na_future} founding years after {current_year_val} to NA.")
    df_large.loc[condition_future, 'founded_year_numeric'] = pd.NA
    
# Re-calculate missing count and describe after cleaning unrealistic years
print(f"\nMissing values in 'founded_year_numeric' after handling unrealistic years: {df_large['founded_year_numeric'].isnull().sum()}")
print("Descriptive statistics for 'founded_year_numeric' after handling unrealistic years:")
# Describe might behave better if we ensure it's float for describe if Int64 causes issues with pd.NA
if df_large['founded_year_numeric'].notna().any():
    print(df_large['founded_year_numeric'].astype(float).describe())
else:
    print("founded_year_numeric is all NaN after handling unrealistic years.")

--- Step 9: Process 'Founded Year' ---

--- Step 9a: Inspecting and Cleaning 'Founded Year' ---
Original 'Founded Year' data type: float64
Sample unique 'Founded Year' values (first 30): ['2003.0' '1907.0' 'nan' '2008.0' '1996.0' '2010.0' '1999.0' '2001.0'
 '2002.0' '2012.0' '1991.0' '1882.0' '1979.0' '2020.0' '1941.0' '1953.0'
 '1962.0' '2005.0' '1892.0' '2017.0' '2014.0' '2019.0' '1987.0' '1972.0'
 '1981.0' '1990.0' '1952.0' '1967.0' '2006.0' '1902.0']
Missing 'Founded Year' values: 24145 (out of 83884 total rows, 28.78%)

Missing values in 'founded_year_numeric' after cleaning: 24145
Descriptive statistics for 'founded_year_numeric':
count        59739.0
mean     1982.300875
std        43.787271
min           1502.0
25%           1970.0
50%           1997.0
75%           2011.0
max           2024.0
Name: founded_year_numeric, dtype: Float64
Min founded year: 1502, Max founded year: 2024
WARNING: Found 269 companies with founding year before 1800.
Setting 269 founding years before 1800 to NA.

Missing values in 'founded_year_numeric' after handling unrealistic years: 24414
Descriptive statistics for 'founded_year_numeric' after handling unrealistic years:
count    59470.000000
mean      1983.504439
std         39.718247
min       1800.000000
25%       1971.000000
50%       1997.000000
75%       2011.000000
max       2024.000000
Name: founded_year_numeric, dtype: float64

In [33]:
print("\n--- Step 9b: Using 'Founded Year' for Further Categorization/Features ---")

if 'founded_year_numeric' not in df_large.columns or df_large['founded_year_numeric'].isnull().all():
    print("'founded_year_numeric' column not available or all NaN. Skipping refinement based on founding year.")
else:
    current_year = datetime.now().year

    # --- Option 1: Refine 'Company_Size_Category' to identify 'Startup' ---
    # This overwrites the existing 'Company_Size_Category' for certain conditions.
    # Ensure 'Company_Size_Category' column exists from previous steps.
    if 'Company_Size_Category' in df_large.columns:
        # Define what constitutes a startup based on age and current size category
        # For example, founded in the last 3 years (current_year, year-1, year-2)
        # AND currently categorized as 'Micro', 'Small', or 'Unknown/Not Specified'
        
        # Condition for being a young company
        is_young_company_mask = (df_large['founded_year_numeric'] >= (current_year - 2)) & \
                                (df_large['founded_year_numeric'] <= current_year) # Founded in current year, year-1, or year-2
        
        # Condition for current size being small or unknown
        is_small_or_unknown_size_mask = df_large['Company_Size_Category'].isin(['Micro', 'Small', '1-10', '11-50', 'Unknown/Not Specified'])
        # Adjust '1-10', '11-50' if your labels from pd.cut for employees are different
        
        # Combine conditions
        startup_condition_mask = is_young_company_mask & is_small_or_unknown_size_mask
        
        num_potential_startups = startup_condition_mask.sum()
        print(f"Identified {num_potential_startups} potential startups to update in 'Company_Size_Category'.")

        # Before overwriting, ensure 'Startup' is a valid category in 'Company_Size_Category'
        if isinstance(df_large['Company_Size_Category'].dtype, pd.CategoricalDtype):
            if 'Startup' not in df_large['Company_Size_Category'].cat.categories:
                print("Adding 'Startup' to Company_Size_Category categories.")
                df_large['Company_Size_Category'] = df_large['Company_Size_Category'].cat.add_categories(['Startup'])
        
        df_large.loc[startup_condition_mask, 'Company_Size_Category'] = 'Startup'
        
        print("\nValue counts for 'Company_Size_Category' after 'Startup' refinement:")
        print(df_large['Company_Size_Category'].value_counts(dropna=False))
    else:
        print("'Company_Size_Category' column not found. Cannot refine for startups.")

    # --- Option 2: Create a 'Company_Age' column ---
    df_large['Company_Age'] = current_year - df_large['founded_year_numeric']
    print("\nDescriptive statistics for 'Company_Age':")
    # .describe() on a nullable integer series can sometimes be problematic if it contains pd.NA
    # So, let's describe the non-NA values if that happens.
    if df_large['Company_Age'].notna().any() and pd.api.types.is_integer_dtype(df_large['Company_Age']):
         print(df_large['Company_Age'].astype(float).describe()) # Convert to float for describe to avoid potential IntNA issues
    elif df_large['Company_Age'].notna().any():
         print(df_large['Company_Age'].describe())
    else:
        print("Company_Age column is all NaN.")


    # --- Option 3: Create an 'Is_Startup' boolean column (alternative to Option 1) ---
    # This keeps 'Company_Size_Category' based purely on employee/revenue,
    # and 'Is_Startup' is a separate flag.
    # Define startup_condition_mask as above if not already defined
    # df_large['Is_Startup'] = False # Initialize
    # df_large.loc[startup_condition_mask, 'Is_Startup'] = True
    # print("\nValue counts for 'Is_Startup':")
    # print(df_large['Is_Startup'].value_counts(dropna=False))

print("\n--- Finished Step 9 ---")

--- Step 9b: Using 'Founded Year' for Further Categorization/Features ---
Identified 0 potential startups to update in 'Company_Size_Category'.

Value counts for 'Company_Size_Category' after 'Startup' refinement:
Company_Size_Category
11-50                    64657
51-250                   18748
Startup                    443
1-10                        27
Unknown/Not Specified        6
251-1000                     3
1001+                        0
Name: count, dtype: int64

Descriptive statistics for 'Company_Age':
count    59470.000000
mean        41.495561
std         39.718247
min          1.000000
25%         14.000000
50%         28.000000
75%         54.000000
max        225.000000
Name: Company_Age, dtype: float64

--- Finished Step 9 ---

In [34]:
# Display final DataFrame structure and columns
print("\n--- Final DataFrame Structure ---")    
print(df_large.info())

--- Final DataFrame Structure ---
<class 'pandas.core.frame.DataFrame'>
Index: 83884 entries, 0 to 84895
Data columns (total 35 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Company                                 83884 non-null  object
 1   # Employees                             83878 non-null  float64
 2   Industry                                79287 non-null  object
 3   Website                                 72080 non-null  object
 4   Company Linkedin Url                    83701 non-null  object
 5   Facebook Url                            31006 non-null  object
 6   Twitter Url                             13962 non-null  object
 7   Company Street                          63033 non-null  object
 8   Company City                            83005 non-null  object
 9   Company State                           83344 non-null  object
 10  Company Country                         83884 non-null  object
 11  Company Postal Code                     67849 non-null  float64
 12  Company Address                         83884 non-null  object
 13  Keywords                                46561 non-null  object
 14  Company Phone                           56628 non-null  object
 15  SEO Description                         46181 non-null  object
 16  Technologies                            73725 non-null  object
 17  Total Funding                           1918 non-null   float64
 18  Latest Funding                          2353 non-null   object
 19  Latest Funding Amount                   1796 non-null   float64
 20  Last Raised At                          2353 non-null   object
 21  Annual Revenue                          11164 non-null  float64
 22  SIC Codes                               5956 non-null   object
 23  Short Description                       71072 non-null  object
 24  Founded Year                            59739 non-null  float64
 25  employees_numeric                       83878 non-null  float64
 26  Company_Size_Category                   83884 non-null  category
 27  revenue_numeric                         11164 non-null  float64
 28  Industry_Category_Standardized          83884 non-null  object
 29  Country_Standardized                    83884 non-null  object
 30  Geographic_Reach_Category_Standardized  83884 non-null  object
 31  Combined_Description                    74705 non-null  object
 32  description_language_sample             1000 non-null   object
 33  founded_year_numeric                    59470 non-null  Int64
 34  Company_Age                             59470 non-null  Int64
dtypes: Int64(2), category(1), float64(8), object(24)
memory usage: 24.7+ MB
None